/*
 * Custom overrides for Simple BookReader
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

/* toolbar, nav and logo */
#BRtoolbar,
div#BRnav {
	background-color: white;
}
a.logo {
	background: url(images/visions-logo.png) no-repeat;
	width: 276px;
	height: 36px;
}
#BRreturn {
	font-family: 'Open Sans'; 		@import
url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);;
}
#BRreturn a {
	color: #0088cc;
}
.BRnavCntl {
	background-color: #ccc;
}

/* Modal window */
.BRfloatHead {
	background-color: #02315a;
	font-weight: normal;
}
#cboxContent {
	border-color: #02315a;
}
.BRfloat {
	font-family: 'Open Sans'; 		@import
url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);;
}
.BRfloat a.title {
	color: #0088cc;
}
.BRfloatMeta h3 {
	margin-top: 0;
	font-weight: 400;
	font-size: 18px;
}
.BRfloatCover {
	display: none;
}