<h2>Collection Description</h2>
<div class="pull-right img-right">
	<img src="/assets/cornell/scottsboro.jpg" class="img-thumbnail" alt="Photograph of Scottsboro teens" />
	<p class="caption">Scottsboro Teens with Attorney Samuel S. Leibowitz</p>
</div>
<p>In the 1930s, nine young African-American men were tried for raping two white women in a train freight car in a groundbreaking case that tested the limits of race relations in the United States. Cornell Law alumnus Samuel S. Leibowitz (J.D. '15) represented these teenagers, who came to be known as the "Scottsboro Boys," in several proceedings. He kindly gave several important original documents and artifacts to the Cornell Law Library.</p>

<p>Our collection includes:</p>
<p>
<ul>
<li>"The Scottsboro Case," a ten volume set. Consists of original and photostat copies of documents from the Scottsboro trials and appeals, collected by Samuel S. Leibowitz, counsel for the defendants. Cornell Law Library has both the original set and a microform copy which is lent to scholars upon request.</li>

<li>"The Train," a replica of the actual train that Samuel Leibowitz had made and used as evidence in the courtroom. Given to Dean Emeritus Al Neimeth and now in the custody of the Law Library.</li>

<li>Original photographs of the trial.</li>
</ul>
<div class="img-center">
	<img src="/assets/cornell/scottsboro_train.jpg" alt="Scottsboro train" class="img-thumbnail img-center">
</div>

<p>The trials and retrials involving various combinations of defendants lasted for years and generated an extensive appellate trail. Two landmark U.S. Supreme Court decisions flowed from these cases, establishing that criminal defendants are entitled to effective counsel, <a href="http://www.law.cornell.edu/supct/html/historics/USSC_CR_0287_0045_ZO.html">Powell v. Alabama</a>, 287 U.S. 45 (1932), and that blacks cannot be systematically excluded from criminal juries, <a href="http://www.law.cornell.edu/supct/html/historics/USSC_CR_0294_0587_ZO.html">Norris v. Alabama</a>, 294 U.S. 587 (1935).</p>

<p>All but one defendant, the 13 year old, received death sentences or prison terms ranging from 75 to 99 years for crimes they did not commit. However, in later proceedings, crucial witness testimony was recanted. Charges against five of the defendants were dropped, two others were paroled, one escaped from jail and fled to Michigan where the state refused to return him to Alabama, and another was pardoned after some years.</p>

<p>This collection is a somber reminder of a period of American history when racism obstructed justice. It is also a reminder of the constant effort needed by dedicated lawyers and judges for the legal system to function properly.</p>

<h3>For further reading (and watching)</h3>

<p>Cornell Law School Professor <a href="http://www.lawschool.cornell.edu/faculty/bio.cfm?id=65">Faust Rossi</a> has written an account of the Scottsboro case, appearing in two parts, in the Cornell Law Forum, Winter 2002 and Spring 2003 issues.</p>

<h3>Website</h3>

<p>"<a href="http://www.law.umkc.edu/faculty/projects/FTrials/scottsboro/scottsb.htm" target="scott">Famous American Trials The Scottsboro Boys Trials 1931-1937</a>" &mdash; Maintained at the University of Missouri-Kansas City Law School by Professor Douglas Linder</p>

<h3>Books</h3>

<ul>
	<li>Race on Trial: Law and Justice in American History, edited by Annette Gordon-Reed. New York: Oxford University Press, 2002.</li>
	<li>Scottsboro, Alabama: A Story in Linoleum Cuts, by Lin Shi Khan and Tony Perez; edited by Andrew H. Lee. New York: New York University Press, 2002.</li>
	<li>A "Scottsboro" Case in Mississippi: The Supreme Court and Brown v. Mississippi, by Richard C. Cortner. Jackson: University of Mississippi, 1986.</li>
	<li>Scottsboro: a Tragedy of the American South, by Dan T. Carter. Baton Rouge: Louisiana State University Press, 1979. Particularly acclaimed, by a historian.</li>
	<li>Stories of Scottsboro, by James Goodman. New York: Pantheon Books, 1994.</li>
</ul>

<h3>Videotapes</h3>
<p>(Available in the Cornell Law Library)</p>
<ul>
	<li>Judge Horton and the Scottsboro Boys, produced by Tomorrow Entertainment. USA Home Video, 1985.</li>
	<li>Scottsboro: an American Tragedy, produced by Daniel Anker and Barak Goodman. Alexandria, Va.: PBS Home Video, 2001.</li>
	<li>Scottsboro Boys, produced by Cinetel Productions. New York: Courtroom Television Network, 1998.</li>
</ul>
<p>Please <a href="/scottsboro/contact">contact us</a> for more information and questions.</p>
