<h2>Copyright and Permissions</h2>
<p>The Cornell University Law Library Scottsboro Trials collection is open to the general public, in accordance with the terms set forth in the <a href="http://cdl.library.cornell.edu/guidelines.html">Guidelines for Using Public Domain Text, Images, Audio, and Video Reproduced from Cornell University Library Collections</a>. Permission is not required from Cornell University Library to use items from the Nuremberg Trials collection.  We do suggest the following credit line:</p>

<blockquote><p><strong>Courtesy of Cornell University Law Library, Scottsboro Trials Collection</strong></p></blockquote>