<div class="sidebar">
	<ul class="nav">
		<li class="nav-header"><a href="/nuremberg/analysis">Analysis of Hitler's Personality</a></li>
		<li><a href="/nuremberg/catalog/nur:01134">View Document</a></li>
		<li><a href="#">View PDF</a></li>
		<li><a href="/nuremberg/analysis-more">More information</a></li>
		<li><a href="/docs/62043_1.pdf">Copyright (PDF)</a></li>
	</ul>
</div>