<div class="col-sm-4">
	<ul class="nav">
		<li class="nav-header"><a href="/nuremberg/collection">Collection Description</a></li>
		<li><a href="/nuremberg/legacy">Legacy</a></li>
		<li><a href="/nuremberg/highlights">Collection Highlights</a></li>
		<li><a href="/nuremberg/analysis">Analysis of Hitler's Personality</a></li>
		<li><a href="/nuremberg/partners">Our partners</a></li>
		<li><a href="/nuremberg/bibliography">Bibliography</a></li>
		<li><a href="/nuremberg/gratitude">Words of Gratitude</a></li>
	</ul>
</div>