<div class="row">
	<%= render :partial => 'pages/nuremberg/analysis_menu' %>

	<div class="main-text">

		<h2>Analysis of the Personality of Adolph Hitler</h2>
		<a href="catalog/nur:01134"><img src="http://hydrastg.library.cornell.edu/fedora/get/nur:01134/thumbnailImage" class="pull-right img-thumbnail" alt="Cover Page to the Analysis of Hitler's Personality" /></a>
		<p><em>Analysis of the Personality of Adolph Hitler: With Predictions of His Future Behavior and Suggestions for Dealing with Him Now and After Germany's Surrender</em> <strong>by Dr. Henry A. Murray (1943)</strong></p>
		<ul>
			<li><a href="catalog/nur:01134">View Document</a></li>
			<li><a href="#">View PDF</a></li>
		</ul>
		<h3>Introduction</h3>
		<p>In 1943, the Allied forces wanted to understand Hitler's psychological makeup in order to predict, to the extent possible, his behavior as the Allies continued their prosecution of the war and to anticipate his response to Germany's defeat. The Allies were also seeking to understand the German national psyche to gain an understanding of how to convert them into a "peace-loving nation." This report was written for the OSS by Dr. Henry A. Murray, pre-war Director of the Harvard Psychological Clinic. Dr. Murray obviously was forced by circumstances to psychoanalyze his subject from a distance. He gathered information from a variety of second-hand sources, such as Hitler's genealogy; school and military records; public reports of events in print and on film; OSS information; Hitler's own writings; Hitler biographies; and "Hitler the Man - Notes for a Case History," an article written by W.H.D. Vernon under Dr. Murray's supervision. From these resources and his "needs theory" of personality, Dr. Murray created a psychological profile that correctly predicted the Nazi leader's suicide in the face of Germany's defeat.</p>

		<p>With the benefit of hindsight and more than 60 years of scientific advances, one can appreciate this analysis of Hitler's personality and also catch a glimpse into an early application of personality psychology by one of the discipline's founders. Dr. Murray's Explorations in Personality (NY: Oxford Press, 1938) established personality psychology as a behavioral science. Murray explored a theory of personality in which the interplay of 20 psychogenic needs of varying strength produced distinct personality types. Murray pegged Hitler's personality as "counteractive narcism," a type that is stimulated by real or imagined insult or injury. According to Dr. Murray, the characteristics of this personality type include: holding grudges, low tolerance for criticism, excessive demands for attention, inability to express gratitude, a tendency to belittle, bully, and blame others, desire for revenge, persistence in the face of defeat, extreme self-will, self-trust, inability to take a joke, and compulsive criminality. Dr. Murray concluded that Hitler had these characteristics (and others) to an extreme degree and lacked the offsetting qualities that round out a balanced personality.</p>
		<p>
		The language of needs theory may seem unfamiliar to today's readers since personality theory moved on to new terminology and theories. However, Dr. Murray's writing style and descriptive language make this report as intelligible to the lay reader of today as to the World War II era psychologist.</p>

		<p>Cornell Law Library is pleased to share this report, part of our Donovan Nuremberg Trials Collection, in its original format.</p>

		<p>Sources: AdolfHitler.ws: Historical Archives, NoBeliefs.com (Freethinkers), and Kimmo Nummela's Life Of FüIn Pictures.</p>
	</div>
</div>