<div class="row">
	<%= render :partial => 'pages/nuremberg/analysis_menu' %>

	<div class="main-text">
		<h2>More Information</h2>
		<p>For more information see:</p>
		<ul>

		<li><a href="http://oasis.harvard.edu/html/hua09001.html">Papers of Henry A. Murray: An Inventory</a><br />
		  </li>

		<li><a href="http://allpsych.com/personalitysynopsis/murray.html">Henry Murray and Psychogenic Needs in Personality Synopsis</a><br />
		  </li>

		<li><a href="http://www.wilderdom.com/personality/traits/PersonalityTraitsNeedsHenryMurray.html">Needs as Personality: Henry Murray</a><br />
		  </li>

		<li><a href="https://www.cia.gov/about-cia/history-of-the-cia/">CIA: Office of Strategic Services: Americas First Intelligence Agency<br />
		</a>  </li>

		<li><a href="http://concise.britannica.com/ebc/article?tocId=9373913">Office of Strategic Services</a> (Britannica)<br />
		  </li>

		<li><a href="http://www.infoplease.com/ce6/history/A0836408.html">Office of Strategic Services</a> (infoplease)</li>
		</ul>
	</div>
</div>