<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="main-text">
		<h2>Bibliography</h2>
		<ul>
			<li>Bass, Gary Jonathan. <em><a href="http://cornell.worldcat.org/title/stay-the-hand-of-vengeance-the-politics-of-war-crimes-tribunals/oclc/43884686&amp;referer=brief_results">Stay the Hand of Vengeance: The Politics of War Crimes Tribunals</a></em>. Princeton: Princeton University Press, 2000.</li>

			<li>Blumenthal, David A., and Timothy L.H. McCormack. <em><a href="http://cornell.worldcat.org/title/legacy-of-nuremberg-civilising-influence-or-institutionalised-vengeance/oclc/183179495&amp;referer=brief_results">The Legacy of Nuremberg: Civilising Influence or Institutionalised Vengeance?</a></em> Leiden: Martinus Nijhoff Publishers, 2008.</li>

			<li>Brown, Anthony Cave. <em><a href="http://cornell.worldcat.org/title/last-hero-wild-bill-donovan-the-biography-and-political-experience-of-major-general-william-j-donovan-founder-of-the-oss-and-father-of-the-cia-from-his-personal-and-secret-papers-and-the-diaries-of-ruth-donovan/oclc/8709433&amp;referer=brief_results">The Last Hero: Wild Bill Donovan</a></em>. New York: Vintage Books, 1982.</li>

			<li>Calvo-Goller, Notburga K. <a href="http://cornell.worldcat.org/title/trial-proceedings-of-the-international-criminal-court-icty-and-ictr-precedents/oclc/63808436&amp;referer=brief_results">The Trial Proceedings of the International Criminal Court: ICTY and ICTR Precedents</a>. Leiden: Martinus Nijhoff Publishers, 2006.</li>

			<li>Calvocoressi, Peter. <em><a href="http://cornell.worldcat.org/title/nuremberg-the-facts-the-law-and-the-consequences/oclc/40414270&amp;referer=brief_results">Nuremberg: The Facts, the Law and the Consequences</a></em>. New York: Macmillan Co., 1948.</li>

			<li>Cassese, Antonio, ed. <em><a href="http://cornell.worldcat.org/title/oxford-companion-to-international-criminal-justice/oclc/182731991&amp;referer=brief_results">The Oxford Companion to International Criminal Justice</a></em>. Oxford: Oxford University Press, 2009.</li>

			<li>Clark, Phil, and Zachary D. Kaufman. <em><a href="http://cornell.worldcat.org/title/after-genocide-transitional-justice-post-conflict-reconstruction-and-reconciliation-in-rwanda-and-beyond/oclc/243545827&amp;referer=brief_results">After Genocide: Transitional Justice, Post-conflict Reconstruction and Reconciliation in Rwanda and Beyond</a></em>. London: C. Hurst, 2008.</li>

			<li>Davidson, Eugene. <em><a href="http://cornell.worldcat.org/title/trial-of-the-germans-an-account-of-the-twenty-two-defendants-before-the-international-military-tribunal-at-nuremburg/oclc/392940&amp;referer=brief_results">The Trial of the Germans: An Account of the Twenty-two Defendants Before the International Military Tribunal at Nuremburg</a></em>. New York: Macmillan, 1966.</li>

			<li>Earl, Hilary. <em><a href="http://cornell.worldcat.org/title/nuremberg-ss-einsatzgruppen-trial-1945-1958-atrocity-law-and-history/oclc/263146903&amp;referer=brief_results">The Nuremberg SS-Einsatzgruppen Trial, 1945-1958: Atrocity, Law, and History</a></em>. Cambridge: Cambridge University Press, 2009.</li>

			<li>Futamura, Madoka. <em><a href="http://cornell.worldcat.org/title/war-crimes-tribunals-and-transitional-justice-the-tokyo-trial-and-the-nuremburg-legacy/oclc/80360625&amp;referer=brief_results">War Crimes Tribunals and Transitional Justice: The Tokyo Trial and the Nuremburg Legacy</a></em>. London: Routledge, 2008.</li>

			<li>Glueck, Sheldon. <em><a href="http://cornell.worldcat.org/title/nuremberg-trial-and-aggressive-war/oclc/19676180&amp;referer=brief_results">The Nuremberg Trial and Aggressive War</a></em>. New York: A.A. Knopf, 1946.</li>

			<li>Griech-Polelle, Beth A., ed. <em><a href="http://cornell.worldcat.org/title/nuremberg-war-crimes-trial-and-its-policy-consequences-today/oclc/317286915&amp;referer=brief_results">The Nuremberg War Crimes Trial and its Policy Consequences Today</a></em>. Baden-Baden: Nomos, 2009.</li>

			<li>Mettraux, Gue?naë, ed. <em><a href="http://cornell.worldcat.org/title/perspectives-on-the-nuremberg-trial/oclc/166357095&amp;referer=brief_results">Perspectives on the Nuremberg Trial</a></em>. Oxford; New York: Oxford University Press, 2008.</li>

			<li>Mettraux, Gue?naë <em><a href="http://cornell.worldcat.org/title/international-crimes-and-the-ad-hoc-tribunals/oclc/56951324&amp;referer=brief_results">International Crimes and the Ad Hoc Tribunals</a></em>. Oxford; New York: Oxford University Press, 2005.</li>

			<li>Salter, Michael. <em><a href="http://cornell.worldcat.org/title/nazi-war-crimes-us-intelligence-and-selective-prosecution-at-nuremberg-controversies-regarding-the-role-of-the-office-of-strategic-services/oclc/75088002&amp;referer=brief_results">Nazi War Crimes, U.S. Intelligence and Selective Prosecution at Nuremberg: Controversies Regarding the Role of the Office of Strategic Services</a></em>. New York: Routledge-Cavendish, 2007.</li>

			<li>Salter, Michael. <em><a href="http://cornell.worldcat.org/title/us-intelligence-the-holocaust-and-the-nuremberg-trials-seeking-accountability-for-genocide-and-cultural-plunder/oclc/262430542&amp;referer=brief_results">U.S. Intelligence, the Holocaust and the Nuremberg Trials: Seeking Accountability for Genocide and Cultural Plunder</a></em>. Leiden: Martinus Nijhoff Pub., 2009.</li>

			<li>Schabas, William. <em><a href="http://cornell.worldcat.org/title/un-international-criminal-tribunals-the-former-yugoslavia-rwanda-and-sierra-leone/oclc/70909555&amp;referer=brief_results">The UN International Criminal Tribunals: The Former Yugoslavia, Rwanda and Sierra Leone</a></em>. Cambridge: Cambridge University Press, 2006.</li>

			<li>Schiff, Benjamin. <a href="http://cornell.worldcat.org/title/building-the-international-criminal-court/oclc/165083528&amp;referer=brief_results">Building the International Criminal Court</a>. Cambridge; New York: Cambridge University Press, 2008.</li>

			<li>Shelton, Dinah, ed. <em><a href="http://cornell.worldcat.org/title/international-crimes-peace-and-human-rights-the-role-of-the-international-criminal-court/oclc/44267691&amp;referer=brief_results">International Crimes, Peace, and Human Rights: The Role of the International Criminal Court</a></em>. Ardsley, NY: Transnational Publishers, 2000.</li>

			<li>Troy, Thomas F. <em><a href="http://cornell.worldcat.org/title/wild-bill-and-intrepid-donovan-stephenson-and-the-origin-of-cia/oclc/33404741&amp;referer=brief_results">Wild Bill and Intrepid: Bill Donovan, Bill Stephenson, and the Origin of CIA</a></em>. New Haven: Yale University Press, 1996.</li>

			<li>Waller, Douglas C. <em><a href="http://cornell.worldcat.org/title/wild-bill-donovan-the-spymaster-who-created-the-oss-and-modern-american-espionage/oclc/642624897&amp;referer=brief_results">Wild Bill Donovan: The Spymaster Who Created the OSS and Modern American Espionage</a></em>. New York: Free Press, 2011.</li>

			<li>Wilhelm, Maria de Blasio. <em><a href="http://cornell.worldcat.org/title/fighting-irishman-the-story-of-wild-bill-donovan/oclc/4087385&amp;referer=brief_results">The Fighting Irishman: The Story of "Wild Bill" Donovan</a></em>. New York: Hawthorn Books, 1964.</li>

		</ul>
	</div>
</div>