<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="col-sm-8">
		<h2>Collection Donors</h2>
		<p>The Donovan Nuremberg collection was donated to Cornell Law Library in 1998 by <a href="http://www.lepatner.com/professional.cfm?CategoryID=8">Henry Korn</a>, B.A. 1968, and his wife, <span style="font-style: italic;">Ellen Schaum Korn</span>, B.S. 1968. It is with deep appreciation that the Cornell Law Library recognizes the Korns for their longstanding friendship with Cornell Law School.</p>

		<p>The ongoing and extensive digitization of the Donovan Collection is made possible through the kind generosity of the <em>Nathaniel Lapkin Foundation</em>. The new electronic format is highly valued among researchers; it generated nearly <a href="http://my3.statcounter.com/project/standard/stats.php?granularity=yearly&amp;account_id=1476819&amp;login_id=5&amp;code=1297ccbd213baba4ca2d86f6c1f834b9&amp;guest_login=1&amp;project_id=3337470">10,000 hits</a> on the Cornell University Library website in its first year.</p>

		</p>
	</div>
</div>