<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="col-sm-8">
		<p>To a great extent, the Donovan Archive represents the scaffolding of the Office of Chief Counsel's (OCC) case against the 24 major defendants. Studied in conjunction with the trial transcripts, these materials illuminate the various processes through which the lawyers and prosecutorial staff shaped many kinds of raw documentary evidence into compelling legal arguments.</p>

		<p>The Donovan Archive is a voluminous collection of material related to the first Nurnberg Trials of 1945-1946 and comprises investigative, procedural, and legal documents.</p>

		<h4>Online Document Access</strong></h4>

		<p>Selected documents from the Donovan Archive are displayed below for your convenience:
		<ul>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00477;view=image;seq=1">Goering interrogation transcript, 10 May 1945</a> (1945-05-10)<br />| <a href="pdf/nur00477.pdf">View PDF</a> |  <a href="toc/nur00477.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00424;view=image;seq=1">Olga Schaub experience report, Ravensbrueck camp</a> (1945-10-07)<br />| <a href="pdf/nur00424.pdf">View PDF</a> |  <a href="toc/nur00424.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00479;view=image;seq=1">Concentration Camps: Statement by Kaltenbrunner</a> (Not dated)<br />| <a href="pdf/nur00479.pdf">View PDF</a> |  <a href="toc/nur00479.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00485;view=image;seq=1">Persecution and Murder of Jews</a> (Not dated)<br />| <a href="pdf/nur00485.pdf">View PDF</a> |  <a href="toc/nur00485.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00476;view=image;seq=1">Deportation  of Jews from Galicia </a> (Not dated)<br />| <a href="pdf/nur00476.pdf">View PDF</a> |  <a href="toc/nur00476.php">More Info</a> |</li>


		<li>November Pogrom: TWXs from Muller, Heydrich, Eberstein, and Beutel</a> 

		<ul>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00463;view=image;seq=1">November Pogrom [#1], Muller</a> (1938-11-09)<br />| <a href="pdf/nur00463.pdf">View PDF</a> |  <a href="toc/nur00463.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00462;view=image;seq=1">November Pogrom [#2], Heydrich</a> (1938-11-10)<br />| <a href="pdf/nur00462.pdf">View PDF</a> |  <a href="toc/nur00462.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00464;view=image;seq=1">November Pogrom [#3], Eberstein</a> (1938-11-10)<br />| <a href="pdf/nur00464.pdf">View PDF</a> |  <a href="toc/nur00464.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00465;view=image;seq=1">November Pogrom [#4], Beutel</a> (1938-11-10)<br />| <a href="pdf/nur00465.pdf">View PDF</a> |  <a href="toc/nur00465.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00466;view=image;seq=1">November Pogrom [#5], Muller</a> (1938-11-10)<br />| <a href="pdf/nur00466.pdf">View PDF</a> |  <a href="toc/nur00466.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00467;view=image;seq=1">November Pogrom [#6], Muller</a> (1938-11-10)<br />| <a href="pdf/nur00467.pdf">View PDF</a> |  <a href="toc/nur00467.php">More Info</a> |</li>
		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00468;view=image;seq=1">November Pogrom [#7], Heydrich</a> (1938-12-10)<br />| <a href="pdf/nur00468.pdf">View PDF</a> |  <a href="toc/nur00468.php">More Info</a> |</li>
		</ul>
		</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00484;view=image;seq=1">Murder Wagons</a> (1942-05-16)<br />| <a href="pdf/nur00484.pdf">View PDF</a> |  <a href="toc/nur00484.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00481;view=image;seq=1">Murder Hospitals </a> (1945-04-14)<br />| <a href="pdf/nur00481.pdf">View PDF</a> |  <a href="toc/nur00481.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00482;view=image;seq=1">Murder of captured Allied airmen</a> (1944-05-30)<br />| <a href="../pdf/nur00482_1.pdf">View PDF 1</a> | <a href="../pdf/nur00482_2.pdf">View PDF 2</a> | <a href="../pdf/nur00482_3.pdf">View PDF 3</a> |  <a href="toc/nur00482.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00483;view=image;seq=1">Murder of commandos</a> (1944-10-10)<br />| <a href="../pdf/nur00483_1.pdf">View PDF 1</a> | <a href="../pdf/nur00483_2.pdf">View PDF 2</a> | <a href="../pdf/nur00483_3.pdf">View PDF 3</a> |  <a href="toc/nur00483.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00471;view=image;seq=1">British</a> /<a href="http://www.osssociety.org/" target="OSS">OSS</a>  Slovakia Mission (Not dated)<br />| <a href="pdf/nur00471.pdf">View PDF</a> |  <a href="toc/nur00471.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur02385;view=image;seq=1">Relationship of the German Churches to Hitler / Memorandum to General Donovan  </a> (1945-10-25)<br />| <a href="pdf/nur02385.pdf">View PDF</a> |  <a href="toc/nur02385.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur02387;view=image;seq=1">Rothschild memo, "German Monists Organization</a> (1945-07-09)<br />| <a href="pdf/nur02387.pdf">View PDF</a> |  <a href="toc/nur02387.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00480;view=image;seq=1">Gestapo agent Kremer, a.k.a. V-Mann Sixtus</a> (Not dated)<br />| <a href="pdf/nur00480.pdf">View PDF</a> |  <a href="toc/nur00480.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00478;view=image;seq=1">Kaltenbrunner interrogation, (No.1)</a> (1945-10-08)<br />| <a href="pdf/nur00478.pdf">View PDF</a> |  <a href="toc/nur00478.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00475;view=image;seq=1">Frank interrogation</a> (1945-09-07)<br />| <a href="pdf/nur00475.pdf">View PDF</a> |  <a href="toc/nur00475.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00474;view=image;seq=1">Frank interrogation</a> (1945-09-13)<br />| <a href="pdf/nur00474.pdf">View PDF</a> |  <a href="toc/nur00474.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00434;view=image;seq=1">Streicher interrogation</a> (1945-09-01)<br />| <a href="pdf/nur00434.pdf">View PDF</a> |  <a href="toc/nur00434.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00435;view=image;seq=1">Streicher interrogation</a> (1945-10-17)<br />| <a href="pdf/nur00435.pdf">View PDF</a> |  <a href="toc/nur00435.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00436;view=image;seq=1">Streicher interrogation</a> (1945-11-06)<br />| <a href="pdf/nur00436.pdf">View PDF</a> |  <a href="toc/nur00436.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00429;view=image;seq=1">Schacht interrogation</a> (1945-10-31)<br />| <a href="pdf/nur00429.pdf">View PDF</a> |  <a href="toc/nur00429.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00433;view=image;seq=1">Schacht's letter to Goering </a> (1942-11-03)<br />| <a href="pdf/nur00433.pdf">View PDF</a> |  <a href="toc/nur00433.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00432;view=image;seq=1">Schacht's letter to General Donovan</a> (1945-11-14)<br />| <a href="pdf/nur00432.pdf">View PDF</a> |  <a href="toc/nur00432.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00431;view=image;seq=1">Schacht's brief summary re: Third Reich</a> (1945-11-14)<br />| <a href="pdf/nur00431.pdf">View PDF</a> |  <a href="toc/nur00431.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00430;view=image;seq=1">Kellerman memo to Donovan</a> (1945-11-21)<br />| <a href="pdf/nur00430.pdf">View PDF</a> |  <a href="toc/nur00430.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00488;view=image;seq=1">Gerhard Wagner interrogation brief</a> (1945-10-30)<br />| <a href="pdf/nur00488.pdf">View PDF</a> |  <a href="toc/nur00488.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00470;view=image;seq=1">Boley interrogation</a> (1945-09-14)<br />| <a href="pdf/nur00470.pdf">View PDF</a> |  <a href="toc/nur00470.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00441;view=image;seq=1">Justice Robert H. Jackson letter to The Lord Wright</a> (1945-07-05)<br />| <a href="pdf/nur00441.pdf">View PDF</a> |  <a href="toc/nur00441.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00442;view=image;seq=1">Justice Robert H. Jackson letter to The Lord Wright</a> (1945-07-06)<br />| <a href="pdf/nur00442.pdf">View PDF</a> |  <a href="toc/nur00442.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00440;view=image;seq=1">Colonel (JAGD) Charles Fairman memo for Theater Judge Advocate</a> (1945-10-16)<br />| <a href="pdf/nur00440.pdf">View PDF</a> |  <a href="toc/nur00440.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00438;view=image;seq=1">General William J. Donovan memo and letter to Justice Jackson</a> (1945-10-23)<br />| <a href="pdf/nur00438.pdf">View PDF</a> |  <a href="toc/nur00438.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00437;view=image;seq=1">General Edward C. Betts letter to Justice Jackson</a> (1945-10-19)<br />| <a href="pdf/nur00437.pdf">View PDF</a> |  <a href="toc/nur00437.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00439;view=image;seq=1">General Donovan critique of Justice Jackson letter</a> (1945-10-25)<br />| <a href="pdf/nur00439.pdf">View PDF</a> |  <a href="toc/nur00439.php">More Info</a> |</li>

		<li><a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00443;view=image;seq=1">Justice Robert H. Jackson letter to General Betts</a> (1945-10-25)<br />| <a href="pdf/nur00443.pdf">View PDF</a> |  <a href="toc/nur00443.php">More Info</a> |</li>
		</ul>

		<p><strong>Other collection highlights include</strong>:</p>

		<blockquote>
		<ul class="noindent">
		<li>Interrogation reports;</li>

		<li>Witness testimony, affidavits, and first-person written statements of witnesses, defendants, and prisoners-of-war, many of which are original manuscripts;</li>

		<li>OSS analyses and English translations of captured German documents;</li>

		<li>Black-and-white photographs, including several of Hitler in his early life;</li>

		<li>A variety of maps, charts, and <a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00423;view=image;seq=1">film</a> <a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00456;view=image;seq=1">inventories</a> created or produced by the <a href="http://www.osssociety.org/">OSS</a> or OCC;</li>

		<li>OSS biographical reports of an extraordinary range of persons, mostly Germans, believed to be instrumental or to some significant degree implicated in the Nazi war effort, as well as extended studies of major figures like Hitler, Himmler, and Goering;</li>

		<li>OSS research &amp; analysis reports on many topics related to the historical, cultural, and socio-economic background, as well as the conduct, of the Second World War, including but not limited to, Germany's economic preparations to wage aggressive war, Nazi alterations of, respectively, German criminal procedure, German real property law, and German inheritance law, Nazi paramilitary and military organizations, concentration camps, and the Nazi's intended annihilation of European Jewry;</li>

		<li>OCC trial briefs pertaining to the 24 original defendants at the first Nurnberg Trial and addressing the major charges of War Crimes, Crimes Against Peace, and Crimes Against Humanity, as defined by the Charter of the International Military Tribunal;</li>

		<li>Clippings from contemporaneous periodicals and newspapers;</li>

		<li>Numerous memoranda by and to Major General Donovan and Justice Jackson;</li>

		<li>Memoranda and reports by major and minor figures involved in the prosecutorial effort, including Sidney S. Alderman, Colonel John H. Amen, Colonel Telford Taylor, Colonel Robert G. Storey, Dr. Fabian von Schlabrendorff, Captain Otto N. Nordon, Franz Neumann, Dr. Henry J. Kellermann, Commander James B. Donovan, and Commander Sidney J. Kaplan;</li>

		<li>Lists and directories of OCC personnel, as well as some two dozen issues of a daily newsletter reporting the workday efforts and off-duty diversions available to OCC staff in Nurnberg;</li>

		<li>Translated transcriptions of Soviet and other foreign radio addresses commenting on the Trials;</li>

		<li>Translated selections of speeches and writings by infamous Nazis, including Hitler, Hess, Streicher, Rosenberg, Himmler, Goebbels, Bormann, Schacht, and Werner Best;</li>

		<li>Prosecutor's dossiers on the 24 defendants, namely, Hermann Goering, Rudolf Hess, Joachim von Ribbentrop, Robert Ley, Wilhelm Keitel, Ernst Kaltenbrunner, Alfred Rosenberg, Hans Frank, Wilhelm Frick, Julius Streicher, Walter Funk, Hjalmar Schacht, Gustav Krupp, Karl Doenitz, Erich Raeder, Baldur von Schirach, Fritz Sauckel, Alfred Jodl, Martin Bormann, Franz von Papen, Arthur Seyss-Inquart, Albert Speer, Constantin von Neurath, and Hans Fritzsche.</li>
		</ul>

		<p class="small"><em>Prepared by John A. Lauricella, Assistant Archivist, Cornell Law Library</em></p>
		</p>
	</div>
</div>