<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="main-text">
		<h2>Collection Highlights</h2>
		<p>To a great extent, the Donovan Archive represents the scaffolding of the Office of Chief Counsel's (OCC) case against the 24 major defendants. Studied in conjunction with the trial transcripts, these materials illuminate the various processes through which the lawyers and prosecutorial staff shaped many kinds of raw documentary evidence into compelling legal arguments.</p>

		<p>The Donovan Archive is a voluminous collection of material related to the first Nurnberg Trials of 1945-1946 and comprises investigative, procedural, and legal documents.</p>

		<h3>Online Document Access</h3>

		<p>Selected documents from the Donovan Archive are displayed below for your convenience:</p>
		<ul>

		<li><a href="/nuremberg/catalog/nur:00477">Goering interrogation transcript, 10 May 1945</a> (1945-05-10) | <a href="#">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00424">Olga Schaub experience report, Ravensbrueck camp</a> (1945-10-07) | <a href="pdf/nur00424.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00479">Concentration Camps: Statement by Kaltenbrunner</a> (Not dated) | <a href="pdf/nur00479.pdf">View PDF</a> </li>

		<li><a href="/nuremberg/catalog/nur:00485">Persecution and Murder of Jews</a> (Not dated) | <a href="pdf/nur00485.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00476">Deportation  of Jews from Galicia </a> (Not dated) | <a href="pdf/nur00476.pdf">View PDF</a></li>


		<li>November Pogrom: TWXs from Muller, Heydrich, Eberstein, and Beutel

		<ul>
		<li><a href="/nuremberg/catalog/nur:00463">November Pogrom [#1], Muller</a> (1938-11-09) | <a href="pdf/nur00463.pdf">View PDF</a></li>
		<li><a href="/nuremberg/catalog/nur:00462">November Pogrom [#2], Heydrich</a> (1938-11-10) | <a href="pdf/nur00462.pdf">View PDF</a></li>
		<li><a href="/nuremberg/catalog/nur:00464">November Pogrom [#3], Eberstein</a> (1938-11-10) | <a href="pdf/nur00464.pdf">View PDF</a></li>
		<li><a href="/nuremberg/catalog/nur:00465">November Pogrom [#4], Beutel</a> (1938-11-10) | <a href="pdf/nur00465.pdf">View PDF</a</li>
		<li><a href="/nuremberg/catalog/nur:00466">November Pogrom [#5], Muller</a> (1938-11-10) | <a href="pdf/nur00466.pdf">View PDF</a></li>
		<li><a href="/nuremberg/catalog/nur:00467">November Pogrom [#6], Muller</a> (1938-11-10) | <a href="pdf/nur00467.pdf">View PDF</a></li>
		<li><a href="/nuremberg/catalog/nur:00468">November Pogrom [#7], Heydrich</a> (1938-12-10) | <a href="pdf/nur00468.pdf">View PDF</a></li>
		</ul>
		</li>

		<li><a href="/nuremberg/catalog/nur:00484">Murder Wagons</a> (1942-05-16) | <a href="pdf/nur00484.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00481">Murder Hospitals </a> (1945-04-14) | <a href="pdf/nur00481.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00482">Murder of captured Allied airmen</a> (1944-05-30) | <a href="../pdf/nur00482_1.pdf">View PDF 1</a> | <a href="../pdf/nur00482_2.pdf">View PDF 2</a> | <a href="../pdf/nur00482_3.pdf">View PDF 3</a></li>

		<li><a href="/nuremberg/catalog/nur:00483">Murder of commandos</a> (1944-10-10) | <a href="../pdf/nur00483_1.pdf">View PDF 1</a> | <a href="../pdf/nur00483_2.pdf">View PDF 2</a> | <a href="../pdf/nur00483_3.pdf">View PDF 3</a></li>

		<li><a href="/nuremberg/catalog/nur:00471">British</a> / <a href="http://www.osssociety.org/">OSS</a> Slovakia Mission (Not dated) | <a href="pdf/nur00471.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:02385">Relationship of the German Churches to Hitler / Memorandum to General Donovan  </a> (1945-10-25) | <a href="pdf/nur02385.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:02387">Rothschild memo, "German Monists Organization</a> (1945-07-09) | <a href="pdf/nur02387.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00480">Gestapo agent Kremer, a.k.a. V-Mann Sixtus</a> (Not dated) | <a href="pdf/nur00480.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00478">Kaltenbrunner interrogation, (No.1)</a> (1945-10-08) | <a href="pdf/nur00478.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00475">Frank interrogation</a> (1945-09-07) | <a href="pdf/nur00475.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00474">Frank interrogation</a> (1945-09-13) | <a href="pdf/nur00474.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00434">Streicher interrogation</a> (1945-09-01) | <a href="pdf/nur00434.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00435">Streicher interrogation</a> (1945-10-17) | <a href="pdf/nur00435.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00436">Streicher interrogation</a> (1945-11-06) | <a href="pdf/nur00436.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00429">Schacht interrogation</a> (1945-10-31) | <a href="pdf/nur00429.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00433">Schacht's letter to Goering </a> (1942-11-03) | <a href="pdf/nur00433.pdf">View PDF</a> |  <a href="toc/nur00433.php">More Info</a> |</li>

		<li><a href="/nuremberg/catalog/nur:00432">Schacht's letter to General Donovan</a> (1945-11-14) | <a href="pdf/nur00432.pdf">View PDF</a> |  <a href="toc/nur00432.php">More Info</a> |</li>

		<li><a href="/nuremberg/catalog/nur:00431">Schacht's brief summary re: Third Reich</a> (1945-11-14) | <a href="pdf/nur00431.pdf">View PDF</a> |  <a href="toc/nur00431.php">More Info</a> |</li>

		<li><a href="/nuremberg/catalog/nur:00430">Kellerman memo to Donovan</a> (1945-11-21) | <a href="pdf/nur00430.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00488">Gerhard Wagner interrogation brief</a> (1945-10-30) | <a href="pdf/nur00488.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00470">Boley interrogation</a> (1945-09-14) | <a href="pdf/nur00470.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00441">Justice Robert H. Jackson letter to The Lord Wright</a> (1945-07-05) | <a href="pdf/nur00441.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00442">Justice Robert H. Jackson letter to The Lord Wright</a> (1945-07-06) | <a href="pdf/nur00442.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00440">Colonel (JAGD) Charles Fairman memo for Theater Judge Advocate</a> (1945-10-16) | <a href="pdf/nur00440.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00438">General William J. Donovan memo and letter to Justice Jackson</a> (1945-10-23) | <a href="pdf/nur00438.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00437">General Edward C. Betts letter to Justice Jackson</a> (1945-10-19) | <a href="pdf/nur00437.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00439">General Donovan critique of Justice Jackson letter</a> (1945-10-25) | <a href="pdf/nur00439.pdf">View PDF</a></li>

		<li><a href="/nuremberg/catalog/nur:00443">Justice Robert H. Jackson letter to General Betts</a> (1945-10-25) | <a href="pdf/nur00443.pdf">View PDF</a></li>
		</ul>

		<h3>Other collection highlights include</h3>

		<ul>
			<li>Interrogation reports;</li>

			<li>Witness testimony, affidavits, and first-person written statements of witnesses, defendants, and prisoners-of-war, many of which are original manuscripts;</li>

			<li>OSS analyses and English translations of captured German documents;</li>

			<li>Black-and-white photographs, including several of Hitler in his early life;</li>

			<li>A variety of maps, charts, and <a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00423;view=image;seq=1">film</a> <a href="/cgi/t/text/pageviewer-idx?c=nur;idno=nur00456;view=image;seq=1">inventories</a> created or produced by the <a href="http://www.osssociety.org/">OSS</a> or OCC;</li>

			<li>OSS biographical reports of an extraordinary range of persons, mostly Germans, believed to be instrumental or to some significant degree implicated in the Nazi war effort, as well as extended studies of major figures like Hitler, Himmler, and Goering;</li>

			<li>OSS research &amp; analysis reports on many topics related to the historical, cultural, and socio-economic background, as well as the conduct, of the Second World War, including but not limited to, Germany's economic preparations to wage aggressive war, Nazi alterations of, respectively, German criminal procedure, German real property law, and German inheritance law, Nazi paramilitary and military organizations, concentration camps, and the Nazi's intended annihilation of European Jewry;</li>

			<li>OCC trial briefs pertaining to the 24 original defendants at the first Nurnberg Trial and addressing the major charges of War Crimes, Crimes Against Peace, and Crimes Against Humanity, as defined by the Charter of the International Military Tribunal;</li>

			<li>Clippings from contemporaneous periodicals and newspapers;</li>

			<li>Numerous memoranda by and to Major General Donovan and Justice Jackson;</li>

			<li>Memoranda and reports by major and minor figures involved in the prosecutorial effort, including Sidney S. Alderman, Colonel John H. Amen, Colonel Telford Taylor, Colonel Robert G. Storey, Dr. Fabian von Schlabrendorff, Captain Otto N. Nordon, Franz Neumann, Dr. Henry J. Kellermann, Commander James B. Donovan, and Commander Sidney J. Kaplan;</li>

			<li>Lists and directories of OCC personnel, as well as some two dozen issues of a daily newsletter reporting the workday efforts and off-duty diversions available to OCC staff in Nurnberg;</li>

			<li>Translated transcriptions of Soviet and other foreign radio addresses commenting on the Trials;</li>

			<li>Translated selections of speeches and writings by infamous Nazis, including Hitler, Hess, Streicher, Rosenberg, Himmler, Goebbels, Bormann, Schacht, and Werner Best;</li>

			<li>Prosecutor's dossiers on the 24 defendants, namely, Hermann Goering, Rudolf Hess, Joachim von Ribbentrop, Robert Ley, Wilhelm Keitel, Ernst Kaltenbrunner, Alfred Rosenberg, Hans Frank, Wilhelm Frick, Julius Streicher, Walter Funk, Hjalmar Schacht, Gustav Krupp, Karl Doenitz, Erich Raeder, Baldur von Schirach, Fritz Sauckel, Alfred Jodl, Martin Bormann, Franz von Papen, Arthur Seyss-Inquart, Albert Speer, Constantin von Neurath, and Hans Fritzsche.</li>
		</ul>

		<p class="small"><em>Prepared by John A. Lauricella, Assistant Archivist, Cornell Law Library</em></p>
		</p>
	</div>
</div>