<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="col-sm-8">
		<h2>Legacy</h2>
		<blockquote>
			<p>"These materials certainly provide fresh insight into practical implications regarding war crimes... The Donovan collection is as much a resource for participants in the emerging field of intelligence studies as it is a hunting ground for legal researchers such as historians of war crimes trials."</p>
			<footer>Prof. Michael Salter, Lancashire Law School</footer>
		</blockquote>

		<p>The Donovan Collection plays an important role in recording the past, but its greatest value lies in its ability to inform and shape today's events. The Cornell CyberTower video, <a href="http://cybertower.cornell.edu/lodetails.cfm?id=801">"Wild Bill" Donovan's Nuremberg Legacy</a>, explores the impact of the collection throughout the world. Navigate the links below to learn more.</p>

		<p>Visit the <a href="/nuremberg/collection">Collection Description</a> page to read about the history and contents of the Donovan Nuremberg Trials Collection. We encourage you to explore these exciting materials by <a href="/nuremberg">searching and browsing</a> the entire collection.</p>

		<img src="/assets/cornell/Rwanda_wanted_bw.jpg" class="pull-right img-thumbnail" alt="Rwandan War Criminals" />
		<h3>Explore Donovan's Nuremberg Legacy</h3>

		<ul>
			<li><a href="pdf/ICTR-at-Cornell-Club.pdf">ICTR at Cornell Club, NYC</a>, The Primary Source, Cornell Law Library</li>

			<li><a href="http://www.hrw.org/node/87652">A Digest of the Case Law of the International Criminal Tribunal for Rwanda</a>, Human Rights Watch</li>

			<li><a href="http://www.hrw.org/en/reports/2006/07/26/genocide-war-crimes-and-crimes-against-humanity-0">A Topical Digest of the Case Law of the International Criminal Tribunal for the Former Yugoslavia</a>, Human Rights Watch</li>

			<li><a href="http://www.brandeis.edu/ethics/pdfs/internationaljustice/Legacy_of_ICTR_in_Africa_ICEJPL.pdf">Symposium on the Legacy of International Criminal Courts and Tribunals in Africa</a>, International Criminal Tribunal for Rwanda in collaboration with the International Center for Ethics, Justice, and Public Life at Brandeis University</li>

			<li><a href="http://www.nacdl.org/public.nsf/newsissues/amicus_attachments/$FILE/Hamdan_amicus_II_SupCt.pdf">Brief of the National Association of Criminal Defense Lawyers as Amicus Curiae in Support of the Petitioner</a>, Hamdan v. Rumsfeld, <a href="http://www.law.cornell.edu/supct/search/display.html?terms=hamdan v. rumsfeld&amp;url=/supct/html/05-184.ZS.html">548 U.S. 557</a> (2006) (No. 05-184).</li>

			<li><a href="pdf/Rehkopf-s-2010-Daily-Record-Article.pdf">Military Commissions: Shrouded in Secrecy (Again!)</a>, Donald G. Rehkopf, Jr., The Daily Record</li>

			<li><a href="http://www.nytimes.com/2005/03/31/science/31hitler.html?scp=1&amp;sq=analysis+of+hitler+cornell&amp;st=nyt#">An Early Wartime Profile Depicts a Tormented Hitler</a>, Benedict Carey, The New York Times</li>

			<li><a href="http://www.nytimes.com/2002/01/13/weekinreview/word-for-word-case-against-nazis-hitler-s-forces-planned-destroy-german.html?scp=1&amp;sq=&amp;st=nyt">How Hitler's Forces Planned to Destroy German Christianity</a>, Joe Sharkey, The New York Times</li>
		</ul>
	</div>
</div>