<div class="row">
	<%= render :partial => 'pages/nuremberg/collection_menu' %>

	<div class="main-text">
		<h2>Our Partners</h2>
		<h3>Rutgers Journal of Law and Religion</h3>
		<p>The Cornell Law Library is pleased to partner with the <a href="http://lawandreligion.com/">Rutgers Journal of Law and Religion</a>. Through an enduring collaborative agreement, the Journal solicits the production of commentary and articles based upon the materials contained in the Library's <b>Donovan Nuremberg Trials Collection</b>, and the Library in turn provides access to the Collection to further that objective. Together, the Cornell Law Library and the Rutgers Journal of Law and Religion realize their shared purpose in promoting the Donovan Nuremberg Trials Collection while cultivating scholarship based upon its contents. To view copies of articles published as a result of this collaboration, or visit the <a href="http://lawandreligion.com/nuremberg-project/">Nuremberg Project of the Rutgers Journal of Law and Religion</a>.</p>

		<h3>French Supreme Court</h3>
		<p>Cornell Law Library and Cornell Law School have established a Center for Documentation on American Law at the <a href="http://www.courdecassation.fr/">French Supreme Court (Cour de Cassation)</a>. The Law Library had shipped 13,000 volumes to the French Court and offers <a href="http://www.lawschool.cornell.edu/library/WhoWeAre/Centre-de-Documentation.cfm">electronic research assistance to the Court</a>. The Center was dedicated before an audience of the world's leading jurists at a groundbreaking international judicial conference that took place <a href="http://www.lawschool.cornell.edu/library/WhoWeAre/upload/LawSchoolcommgift7127.pdf">in Paris on July 17, 2007 (PDF)</a>. Attendees included U.S. Chief Justice Roberts, Justices Breyer, Ginsburg, and Kennedy, as well as most Chief Justices of the European Union countries. Lord Phillips, Chief Justice of England and Wales, was chairing the conference.</p>

		<h3>Starr Foundation</h3>
		<p>The Cornell Law Library, in cooperation with the New York University School of Law Library under a <a href="http://www.starrfoundation.org/">Starr Foundation</a> Grant, is proud to host the Fifth Starr Foundation Workshop, "<a href="http://www.lawschool.cornell.edu/library/WhoWeAre/upload/Starr-Program_new.pdf">Tapping into the World of Electronic Legal Knowledge (PDF)</a>." Held at Cornell Law Library from October 7-11, 2007, it featured participating librarians from Brazil, Botswana, China, Nigeria, Tanzania, the United States, and Zambia. Starr Foundation Workshops allow law librarians the opportunity to collaborate and compare cross-cultural legal informatics theories and practices.</p>

		<h3>International Association of Law Libraries</h3>
		<p>Cornell Law Library was proud to host the web site of <a href="http://www.iall.org/">IALL</a> (from 2000-2011), a worldwide organization of librarians, libraries, and other persons and institutions concerned with the acquisition and use of legal information emanating from sources other than their own jurisdictions. Founded in 1959, IALL has over 600 members in more than 50 countries on five continents.  The Digital Repository of our library recently hosts the electronic version of the <a href="http://scholarship.law.cornell.edu/ijli" title="International Journal of Legal Information">International Journal of Legal Information</a> (IJLI), the Official Journal of the International Association of Law Libraries.<br />
		</p>

		<h3>American Society of International Law</h3>
		<p>The mission of the <a href="http://www.asil.org/">American Society of International Law</a> is to foster the study of international law and to promote the establishment and maintenance of international relations on the basis of law and justice. The Law Library was proud to host the web site of the <a href="http://www.asil.org/un21/">ASIL UN21 Interest Group Newsletter</a> (from 1992-2009).<br />
		</p>

		<h3>International Court of Justice<br>International Labour Organization</h3>
		<p>Cornell Law Library helped create the first web site of the <a href="http://www.icj-cij.org/">International Court of Justice (ICJ)</a>, after a visit at the ICJ in the Hague in the summer of 1996. Jay Greco, JD '98, spent a summer at the Court and provided advice. He then did the same thing for the <a href="http://www.ilo.org/">International Labour Organization (ILO)</a> in Geneva, Switzerland. The then ILO webmaster in turn visited Cornell. Cornell Law Library subsequently created mirror sites for both the ICJ and the ILO, creating redundancy much needed at the time to support heavy web use of these sites.</p>

		<h3>Small Business Association</h3>
		<p>The <a href="http://www.sba.gov/">Small Business Association</a> invited the Law Library to participate in a pilot project overseeing New York state information presented on the agency's new website. Businesslaw.gov, which made its formal debut on December 5, 2001, was designed to assist small businesses cope with the myriad of legal issues that flow from starting and running a business. BusinessLaw.gov received the E-Gov Pioneer Award at the June 2002 E-Gov conference in Washington D.C., attended by Jean Callihan on behalf of the Law Library.</p>
		</p>
	</div>
</div>