<h2>About the Project</h2>
<h3>Project staff</h3>
				<h4>Cornell University Law Library</h4>
				<ul>
					<li>Thomas Mills, Associate Director for Collections and Administration &amp; Rare Books Curator.</li>
					<li>Dan Blackaby, Technology Services Librarian </li>
				</ul>
				<h4>Scanning and Metadata Creation</h4>
				<ul>
					<li>Danielle Mericle, Production Coordinator, Digital Media Group</li>
					<li>Mira Basara, Production Specialist</li>
					<li>Steven Folsom, Metadata Specialist</li>
				</ul>
				<h4>Web Design and Development</h4>
				<ul>
					<li>Melissa Wallace, Web Designer</li>
					<li>Jennifer Colt, Web Developer</li>
				</ul>
				<h4>Hydra Implementation</h4>
				<ul>
					<li>George Kozak, Digital Library Specialist</li>
					<li>John Cline, Programmer</li>
				</ul>

<h3>Copyright and permissions</h3>
				<p>The Cornell University Law Library Donovan Nuremberg Trails collection is open to the general public, in accordance with the terms set forth in the <a href="http://cdl.library.cornell.edu/guidelines.html">Guidelines for Using Public Domain Text, Images, Audio, and Video Reproduced from Cornell University Library Collections</a>. Permission is not required from Cornell University Library to use items from the Nuremberg Trials collection.  We do suggest the following credit line:</p>

				<blockquote><p><strong>Courtesy of Cornell University Law Library, Donovan Nuremberg Trials Collection</strong></p></blockquote>

				<p>If the online files do not meet your needs, we can provide 300 dpi color tifs for a file retrieval/delivery fee. For a price quote, please email <a href="mailto:copyright@cornell.edu?subject=Nuremberg Trials">copyright@cornell.edu</a> with bibliographic details.  Include "Nuremberg Trials" in the subject line.</p>

<h3>Contact</h3>
				<p>For questions regarding this collection, project or web site, please contact:</p>
				<blockquote>
					<p><strong>Thomas Mills</strong><br />
                                        Associate Director for Collections and Administration & Rare Books Curator<br />

					<a href="http://www.lawschool.cornell.edu/library/">Cornell University Law Library</a><br />
					<a href="mailto:twm26@cornell.edu">twm26@cornell.edu</a>
				</blockquote>