<h2>Project staff</h2>
<h3>Cornell University Law Library</h3>
<ul>
	<li>Thomas Mills, Associate Director for Collections and Administration &amp; Rare Books Curator.</li>
	<li>Dan Blackaby, Technology Services Librarian </li>
</ul>
<h3>Scanning and Metadata Creation</h3>
<ul>
	<li>Danielle Mericle, Director, Digital Media Group</li>
	<li>Mira Basara, Production Specialist</li>
	<li>Steven Folsom, Discovery Metadata Librarian</li>
</ul>
<h3>User Experience Design and Front-end Development</h3>
<ul>
	<li>Manolo Bevia, UX Designer</li>
	<li>Jennifer Colt, UX Designer</li>
	<li>Melissa Wallace, UX Designer</li>
</ul>
<h3>Hydra Implementation</h3>
<ul>
	<li>George Kozak, Digital Library Specialist</li>
	<li>John Cline, Programmer</li>
</ul>

<h3 id="contact">Contact</h3>
<p>For questions regarding this collection, project or web site, please contact:</p>
<p><strong>Thomas Mills</strong><br />
                        Associate Director for Collections and Administration &amp; Rare Books Curator<br />

	<a href="http://www.lawschool.cornell.edu/library/">Cornell University Law Library</a><br />
	<a href="mailto:twm26@cornell.edu">twm26@cornell.edu</a></p>