<footer>
  <div class="container">
  	<div class="row">
      <div class="span12">
  	    <p>©2014 <a href="http://beta.library.cornell.edu">Cornell University Library</a> | For feedback or questions, please <a href="/about/contact">contact us</a>.</p>
  	    <p><a href="https://beta.library.cornell.edu/privacy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
