<footer>
  <div class="container">
    <p>© 2015 Cornell University Library, Ithaca, NY 14853 / <a href="https://www.library.cornell.edu/privacy">Privacy Policy</a> / <a href="http://law.library.cornell.edu">Cornell University Law Library</a> / <a href="#">Copyright and permissions</a> | <a href="#">Staff</a></p>
    <p><strong><a href="/">Law Collections</strong></a></p>
  </div>
</footer>
