<footer>
  <div class="container">
    <p>© 2015-17 Cornell University Library, Ithaca, NY 14853 / <a href="https://www.library.cornell.edu/privacy">Privacy Policy</a> / <a href="http://law.library.cornell.edu">Cornell University Law Library</a> / <a href="http://www.lawschool.cornell.edu">Cornell Law School</a> / <a href="/">Law Collections</a> / <a href="/contact">Contact</a></p>
  </div>
</footer>
