<!-- <div id="skiptocontent"><a href="#maincontent">skip to main content</a></div> -->

<section class="cornell-identity hidden-phone">
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="cu-logo">
          <img src="/assets/cornell/layout/cul-logo-white.gif" alt="Cornell University Library">
          <a id="insignia-link" href="http://www.cornell.edu/">Cornell Insignia</a>
          <div class="unit-signature-links">
            <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
            <a id="unit-link" href="http://beta.library.cornell.edu/">Cornell University Library</a>
          </div>
        </div>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>

<section class="sea-identity">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h1><a href="<%=root_path%>"><span>Southeast Asia</span>Visions</a></h1>
      </div>
      <div class="span9 navbar">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".visions-nav-collapse">
          <i class="fa fa-bars"></i>
        </a>
        <div class="nav-collapse visions-nav-collapse">
          <ul class="nav">
            <li><a href="<%=root_path%>">Home</a></li>
            <li><a href="/about/collection">Collection</a></li>
            <li><a href="/about/project">Project</a></li>
            <!-- <li><a href="/about/help">Help</a></li> -->
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="search-bar">
  <div class="container">
    <div class="row">
      <div class="span9 clearfix" id="searchbar">         
        <%= render_search_bar  %>
      </div>
      <div class="span3">
        <%= render :partial=>'/user_util_links' %>
      </div>

    </div>
  </div>
</section>
