// Layout
// ---------------------------------//

body {
  padding-top: 0;
  background: url("cornell/layout/bottombar.gif"); // footer background
 	font-family: $font-family-sans-serif;

}
.main-content {
	// background: url("cornell/layout/mapsepia740_light.jpg");
	background: white;
	min-height: 400px;
	.container { 
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
footer {
	margin: 30px 0 15px;
	color: #ccc;
	a, a:hover { color: white; }
}
.page-content {
	@include make-sm-column(12)
}
.sidebar {
	@include make-sm-column(3);
}
.facet-sidebar {
	@include make-sm-column(3);
}

.search-results {
	@include make-sm-column(9);
}

.main-text {
	@include make-sm-column(9);
}

.more-info-links, .more-info-sponsors {
	@include make-sm-column(6);
}



// Links
// ---------------------------------//

// a { color: $medium-blue; }

// a:hover {
// 	color: $blue;
// 	text-decoration: underline;
// 	}


// Typography
// ---------------------------------//

h2 { 
	color: $brown;
	font-size: 30px;
	// font-family: $visionsFontFamily;
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}
h3 {
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5em;
}
h4 {
	font-size: 18px;
	margin: 0;
	font-weight: normal;
}
p, li { 
	font-size: 16px;
	line-height: 1.5em;
}

// Images
// ---------------------------------//

.img-right {
	margin: 0 0 1.5em 1.5em;
}
.img-left {
	margin: 0 1.5em 1.5em 0;
}

// Miscellaneous
// ---------------------------------//

//.pull-right {
//	margin: 0 0 20px 20px; 
//}