// Home page
// ----------------------//
.home-text {
	margin: 3em 0 10px;
	p {
		font-size: 18px;
	}
	// search box header
	h3 {
		margin-top: 20px;
		font-size: 24px;
	}
	.row { 
		margin-bottom: 1.5em;
	}
}

.bridge {
	margin: 20px 0;
	padding-top: 20px;
	border-bottom: 1px solid $pale-gray;
}
.bridge-section {
	margin-left: 0;
	padding: 0 0 20px;
	img { margin-right: 20px; }
	h3 { margin: 0; }
}

.more-info {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $pale-gray;
	h4 { 
		font-size: 14px;
		line-height: 1.5em;
		margin-bottom: .5em;
		font-weight: 700;
	}
	ul {
		padding-left: 20px;
	}
	li { font-size: 14px; }
}

.disclaimer {
	@include make-sm-column(12);
	p {
		font-size: 12px;
		color: $gray;
	}
	img { margin-right: 10px; }
}
.more-info-sponsors {
	text-align: center;
}

// About subnavigation
// ----------------------//

.blacklight-about-collection .nav-list .about-collection,
.blacklight-about-collection .nav-list .about-collection:hover,
.blacklight-about-geographic .nav-list .about-geographic,
.blacklight-about-geographic .nav-list .about-geographic:hover,
.blacklight-about-map .nav-list .about-geographic,
.blacklight-about-map .nav-list .about-geographic:hover,
.blacklight-about-significance .nav-list .about-significance,
.blacklight-about-significance .nav-list .about-significance:hover,
.blacklight-about-bibliography .nav-list .about-bibliography,
.blacklight-about-bibliography .nav-list .about-bibliography:hover,
.blacklight-about-project .nav-list .about-project,
.blacklight-about-project .nav-list .about-project:hover,
.blacklight-about-contact .nav-list .about-contact,
.blacklight-about-contact .nav-list .about-contact:hover,
.blacklight-about-copyright .nav-list .about-copyright,
.blacklight-about-copyright .nav-list .about-copyright:hover,
.blacklight-about-credits .nav-list .about-credits,
.blacklight-about-credits .nav-list .about-credits:hover,
.blacklight-about-delivery .nav-list .about-delivery,
.blacklight-about-delivery .nav-list .about-delivery:hover,
.blacklight-about-digitization .nav-list .about-digitization,
.blacklight-about-digitization .nav-list .about-digitization:hover,
.blacklight-about-images .nav-list .about-credits,
.blacklight-about-images .nav-list .about-credits:hover,
.blacklight-about-press .nav-list .about-press,
.blacklight-about-press .nav-list .about-press:hover,
.blacklight-about-pod .nav-list .about-pod,
.blacklight-about-pod .nav-list .about-pod:hover,
.blacklight-about-sponsor .nav-list .about-sponsor,
.blacklight-about-sponsor .nav-list .about-sponsor:hover,
.blacklight-about-survey .nav-list .about-survey,
.blacklight-about-survey .nav-list .about-survey:hover {
	color: $dark-gray;
}
.sidebar {
	.nav-list {
		a { 
			text-shadow: none;
			padding: 5px 15px 5px 0;
		}
	}
}
.nav-header {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: .5em;
	a {
		color: $dark-gray;
	}
}

// Map
// ----------------------//
.map {
	margin-bottom: 2em;
	li {
		font-size: 14px;
	}
}
.map-image {
	@include make-md-column(4);
}
.map-list {
	@include make-md-column(8);
}

// Image credits
// ----------------------//
.blacklight-about-images {
	figure {
		margin: 0 0 20px;
		img { margin-bottom: 5px; }
	}
}

// Footer
// ----------------------//

footer {
	margin: 30px 0 15px;
	color: $dark-gray;
	a, a:hover { color: $dark-gray !important; }
	p {
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}
}


// Buttons
// ----------------------//

.btn-nuremberg {
	background: $turquoise;
	color: white;
	border-radius: 0;
}
.btn-nuremberg:hover,
.btn-nuremberg:active {
	color: white;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	footer {
		.nav {
			li {
				float: left;
				a {
					padding: 0 10px;
					border-left: 1px solid #666;
				}
				a:hover {
					background: inherit;
					text-decoration: underline;
				}
			}
			li:first-child {
				a {
					padding-left: 0;
					border: none;
				}
			}
		}
		p {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}