.cu-logo {	
	background: $cornell-primary;
	height: 45px;
	a {
		display: block;
		border: none;
		text-indent: -1000em;
		text-decoration: none;
		margin-left: 1em;
		height: 45px;
	}
	a#insignia-link {
		float: left;
		width: 40px;
		height: 45px;
	}
	#unit-signature-links { float: left; }
	a#unit-link {
		height: 45px;
		width: 285px;
	}
	img { display: none; } // this is the logo used for print
}
.cul-law-logo {
	margin-bottom: 3em;
	a {
		background: url("cornell/cul-branding/cul-law-logo.png") no-repeat 0 0;
		width: 419px !important;
	}
}
.cul-logo {
	a {
		background: url("cornell/cul-branding/cul-logo.png") no-repeat 0 0;
		width: 288px !important;
	}
}
.law-logo {
	padding: 3em 0 2em 0;
}

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent {
	a {
		padding:6px;
		position: absolute;
		top:-40px;
		left:0px;
		color:white;
		border-right:1px solid white;
		border-bottom:1px solid white;
		border-bottom-right-radius:8px;
		background:transparent;
		-webkit-transition: top 1s ease-out, background 1s linear;
	    transition: top 1s ease-out, background 1s linear;
	    z-index: 100;
 	}
}