// Facet style
// -----------------------//

.twiddle {
	i { 
		color: $medium-gray;
		float: right;
		line-height: inherit;
	}
}
#facets {
	li {
		font-size: 14px;
		padding-bottom:0.3em;

		.more_facets_link {
			float:right;
		}
	}
	span.selected { color: $dark-gray; }
	.btn-navbar { 
		padding: 4px 10px;
		margin-top: -4px;
		margin-bottom: 3px;
	}
	h5 {
		a:hover { background: inherit; }
	}

	.panel-heading {
		background-color: #fff;
		overflow: hidden;
	}

	.panel-body {
		border-top:none;
	}
	.panel-title {
		font-size: 16px;
		line-height: 1.4em;
	}
	.panel-heading.collapse-toggle .panel-title:after {
		line-height: inherit;
		color: $law-link-color;
	}
	.facets-toggle {
		margin: 0;
		padding: 10px 12px;
		border-radius: 0;
		border: none;
		border-left: 1px solid $light-gray;
		background: white;
		color: $dark-gray;
	}
	h4 {
		line-height: 1.6em;
		padding: 5px 10px;
	}
	.top-panel-heading {
		// padding-top: 0;
		padding: 0;
		font-size: 16px;
	}
	// change color of the panel-title depending on open or closed
	.collapse-toggle {
		.panel-title {
			color: $dark-gray; //open
		}
	}
	.collapse-toggle.collapsed {
		.panel-title {
			color: $law-link-color; //closed
		}
	}
}


.facet-values {
	.remove {
		color: #666;
		margin-left: 0px;
		padding: 3px 5px;
	}
	i {
		margin-right: .5em;
		color: $turquoise;
	}
}

#sortAndPerPage {
	.pull-right {
		float: none !important;
	}
}
.view-type {
	margin-top: .5em;
}


.range_limit a {
		color: #999;
margin-left: 0px;
padding: 3px 15px;
}

.panel-success,
.facet_limit-active {
	border-color: $other-light-gray;
}

// Constraints
// -----------------------//
.constraints-container {
	padding: 1em;
}
.constraints-label {
	margin-right: .5em;
}
.btn-constraint {
	white-space: normal; // allows button to wrap for long facets - HYDRADEV-236
	text-align: left;
}

// Mobile nav
// -----------------------//

.facets {
	.btn-navbar,
	.btn-navbar:hover,
	.btn-navbar:active {
		background: $turquoise;
		border-radius: 0;
		margin-right: 0;
		text-transform: uppercase;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	#facets {
		.top-panel-heading {
			padding: 10px 15px;
		}
		h4 {
			padding: 0;
			line-height: 1.25em;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	#sortAndPerPage {
		.pull-right {
			float: right !important;
		}
	}
}

