// Facet style
// -----------------------//

.twiddle {
	i { 
		color: $medium-gray;
		float: right;
		line-height: inherit;
	}
}
#facets {
	li {
		font-size: 14px;
		padding-bottom:0.3em;

		.more_facets_link {
			float:right;
		}
	}
	span.selected { color: $brown; }
	.btn-navbar { 
		padding: 4px 10px;
		margin-top: -4px;
		margin-bottom: 3px;
	}
	h5 {
		a:hover { background: inherit; }
	}

	.panel-heading {
		background-color:#fff;
	}

	.panel-body {
		border-top:none;
	}
	.panel-title {
		font-size: 14px;
		line-height: 1.4em;
	}
	.panel-heading.collapse-toggle .panel-title:after {
		line-height: inherit;
	}
}


// swap out chevron-down when facet is open
.twiddle-open .fa-chevron-right {
  @extend .fa-chevron-down;
  	opacity: 1;
}

.facet-values {
	
		.remove {
		color: #666;
margin-left: 0px;
padding: 3px 5px;
}

}


// Mobile nav
// -----------------------//

.facets {
	.btn-navbar,
	.btn-navbar:hover,
	.btn-navbar:active {
		background: $blue;
		border-radius: 0;
		margin-right: 0;
		text-transform: uppercase;
	}
}