.hero {
	margin-bottom: 0;
	border-radius: 0;
	background: url("https://law.library.cornell.edu/files/generic%20law_0.jpg") no-repeat center; // TODO: this is the nuremberg image, currently. not sure if we want a root image for all law collections
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.site-identity {
	background: $dark-gray;
	opacity: .85;
	h1 {
		color: white;
		line-height: 1.1em;
		margin: .25em 0;
		padding: 0;
		font-size: 28px;
		span {
			display: block;
			font-size: 19px;
			line-height: 28px;
		}
		a, a:hover {
			color: white;
			text-decoration: none;
		}
	}
	.tagline {
		font-size: 18px;
		color: #bebdbd;
		margin-bottom: 1em;
		line-height: 1.4em;
	}
	.collections-link {
		a {
			font-size: 22px;
			color: white;
		}
		a:hover, a:active, a:focus {
			text-decoration: none;
		}
	}
}
.navigation-bar {
	@include make-sm-column(4);
	
	@include make-sm-column-push(8);
}
.site-title {
	@include make-sm-column(8);
	@include make-sm-column-pull(4);
	margin: 1em 0;
}

.searchbar{
	@include make-sm-column(8);
}
.utility-links {
	@include make-sm-column(4);
}
.navbar-collapse {
	.nav {
		position: relative;
		z-index: 5000;
		background: $turquoise;
		margin-top: 0;
		li {
			line-height: 1.75em;
			a {
				text-shadow: none;
				// font-size: 1;
				background: white;
				color: $dark-gray;
				border-bottom: 1px solid $medium-gray;
			}
			a:hover {
				color: white;
				text-decoration: underline;
				background:none;
			}
		}
	}
}
.navigation-bar {
	padding-left: 0;
	padding-right: 0;
	// border-left: 1px solid $gray;
}
.navbar {
	min-height: 0;
	border: 0;
}

// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.navbar-collapse {
		.nav {
			width: auto;
			background: inherit;
			margin-top: 1.25em;
			li {
				display: inline;
				float: none;
				font-size: 14px;
				a {
					display: inline;
					background: inherit;
					color: white;
					border-bottom: 0;
				}
			}
			li::after {
    		content: "/";
    		color: white;
			}
			li:last-child::after {
				content: "";
			}
		}
	}
	.navbar {
		min-height: 0;
		margin-bottom: 20px;
	}
	.navigation-bar {
		margin-top: 1em;
	}
	.site-identity {
		h1 {
			font-size: 34px;
		}
		h2 {
			font-size: 20px;
			margin-bottom: .5em;
		}
	}
	.navbar > li > a {
		padding: 0;
	}
	.navbar-nav > li > a {
		padding: 0 .5em;
	}
	.navbar-nav > li > a:first-child {
		padding-left: 0;
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	.navbar-collapse {
		.nav {
			li {
				font-size: 16px;
			}
		}
	}
}