.sea-identity {
	background: url("cornell/layout/oceanbar.gif") repeat-x;
	height: 80px;
	h1 {
		font-family: $visionsFontFamily;
		color: white;
		text-transform: uppercase;
		line-height: .75em;
		margin: 12px 0 0;
		padding: 0;
		font-size: 43px;
		span {
			display: block;
			font-size: 19px;
			line-height: 28px;
		}
		a, a:hover {
			color: white;
			text-decoration: none;
		}
	}
}

.navbar-collapse {
	.nav {
		float: right;
		margin-top: 30px;
		li {
			a {
				text-shadow: none;
				color: white;
				font-size: 20px;
			}
			a:hover {
				color: white;
				text-decoration: underline;
				background:none;
			}
		}
	}
}

// Mobile nav
// -----------------------//

.navbar-header {
	button.btn-navbar,
	 {
		background: $blue;
		border-radius: 0;
		margin-right: 0;
		text-transform: uppercase;
		padding: 4px 10px;
		color:white
	}
}
.navbar-collapse.in {
	z-index: 1000;
	.nav {
		margin-top: 0;
		width: auto;
		background: #011b32;
		a {
			font-weight: normal;
			font-size: 18px;
		}
		a:hover {
			background: $blue;
		}
	}
}


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.sea-identity {
		h1 {
			font-size: 38px;
			span {
				font-size: 17px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.sea-identity {
		h1 {
			font-size: 43px;
			span {
				font-size: 19px;
			}
		}
	}
}