.hero {
	background: url("cornell/hero.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 0;
	border-radius: 0;
}


.site-identity {
	background: $dark-gray;
	padding: 2em 0;
	h1 {
		color: white;
		line-height: .75em;
		margin: 0 0 .5em;
		padding: 0;
		font-size: 36px;
		span {
			display: block;
			font-size: 19px;
			line-height: 28px;
		}
		a, a:hover {
			color: white;
			text-decoration: none;
		}
	}
	h2 {
		font-size: 20px;
		color: $pale-gray;
		margin-bottom: 0;
		line-height: 1.4em;
	}
}

.site-title {
	@include make-sm-column(8)
}
.navigation-bar {
	@include make-sm-column(4)
}
.searchbar{
	@include make-sm-column(8)
}
.utility-links {
	@include make-sm-column(4)
}
.navbar-collapse {
	.nav {
		position: relative;
		z-index: 5000;
		background: $blue;
		li {
			display: inline;
			float: none;
			a {
				text-shadow: none;
				color: white;
				font-size: 18px;
				display: inline;
			}
			a:hover {
				color: white;
				text-decoration: underline;
				background:none;
			}
		}
	}
}
.navbar-header {
	.navbar-toggle {
		background: $blue;
		border-radius: 0;
		margin-right: 0;
		text-transform: uppercase;
		padding: 4px 10px;
		color: white;
		margin-top: -60px;
	}
}
.navigation-bar {
	padding-left: 0;
	padding-right: 0;
	border-left: 1px solid $gray;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.sea-identity {
		h1 {
			font-size: 38px;
			span {
				font-size: 17px;
			}
		}
	}
	.navbar-collapse {
		.nav {
			// float: right;
			width: auto;
			background: inherit;
		}
	}
	// .navigation-bar {
	// 	padding-left: 15px;
	// 	padding-right: 15px;
	// }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.sea-identity {
		h1 {
			font-size: 43px;
			span {
				font-size: 19px;
			}
		}
	}
}