.home-text {
	margin: 3em 0 10px;
	p {
		font-size: 18px;
	}
	// search box header
	h3 {
		margin-top: 20px;
		font-size: 24px;
	}
	.row { 
		margin-bottom: 1.5em;
	}
}

.bridge {
	margin: 20px 0;
	padding-top: 20px;
	border-bottom: 1px solid $pale-gray;
}
.bridge-section {
	margin-left: 0;
	padding: 0 0 20px;
	img { margin-right: 20px; }
	h3 { margin: 0; }
}

.more-info {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $pale-gray;
	h4 { 
		font-size: 14px;
		line-height: 1.5em;
		margin-bottom: .5em;
		font-weight: 700;
	}
	ul {
		padding-left: 20px;
	}
	li { font-size: 14px; }
}

.disclaimer {
	@include make-sm-column(12);
	p {
		font-size: 12px;
		color: $gray;
	}
	img { margin-right: 10px; }
}
.more-info-sponsors {
	text-align: center;
}

.collection {
	@include make-sm-column(3);
	margin-bottom: 2em;
	img {
		background: #efefef;
		padding: 4px;
	}
}
.label-type {
	background: #5d4f1d;
	border-radius: 0;
	display: inline-block;
	padding: 5px 10px;
}
.collection-name {
	padding: 0 4px;
	a {
		width: auto;
		background: #707c63;
		opacity: .8;
		color: white;
		display: inline-block;
		padding: 5px;
		font-size: 14px;
	}
}
.collection-digital {
	a {
		background: #9d9265;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.collection {
		margin-bottom: 0;
	}
	.collection-name {
		position: absolute;
		bottom: 4px;	
		width: 100%;
		a {
			display: block;
			width: 85.5%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}