.blacklight-catalog-show {
	#document {
		@include make-sm-column(9);
		margin-top: 0;
		h2  {
			margin: 0 0 .25em;
			line-height: 1.25em;
			font-size: 24px;
			font-family: $baseFontFamily;
			color: $gray;
			.label {
				font-weight: normal;
				font-size: 70%;
			}
		}
	}
	#sidebar {

		.well {
			text-align: center;
		}
		.label {
			font-weight: normal;
			padding: .75em 1em;
			font-size: 16px;
		}
		.label:hover { background: $blue; }
	}
}

.label-online {
	background: $medium-blue;
	display:inline-block;
}
.label-book {
	background: $light-blue;
	display:inline-block;
}


#sidebar-nav {
	.nav{
		li a{
			font-size: 14px;
			line-height: 1.5em;
			padding:5px 15px;
		}
	}
	.bookmark_toggle {
		margin-bottom: 5px; 
		padding:5px 15px 5px 35px;
		font-size:14px;
		line-height:normal;


	}

	.panel-heading {
		background:white;
		border:none;
		font-weight: bold;
		color: #999999;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
		font-size:14px;
		margin-bottom: 0;
		padding:0px 15px
	}

	.panel-body {
		padding:0px
	}

	.panel-default, {
		border:none;
	}
	.well {
		padding: 19px;
	}
}

.cover {
	@include make-sm-column(3);
	text-align: center;
	color:$pale-gray;
	a {font-size:75%;
		}
	img {
		margin-bottom: 1em;
		height: 150px; // for mobile devices
	}
}
.reader-link {
	margin-bottom: 10px;
}
ul.item-links {
	padding:0;
	margin: 15px 0 0 0;
	list-style: none;
	li { 
		font-size: 14px;
	}
}

.ocr {
	border-top: 1px solid $light-gray;
	margin-top: 40px;
	padding-top: 10px;
	h4 {
		margin: 10px 0;
	}
}
.show-nav {
	margin-bottom: 20px;
}
#previousNextDocument { margin-top: 10px; }

// TOC
// ------------------
.toc-section {
	margin: 0 0 .5em;
}
.toc-chapter {
	margin: 0 0 .5em 1em;
	line-height: 1.4em;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
	.cover {
		img {
			height: auto;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}
