.nuremberg {
	.hero {
		background: url("cornell/hero-nuremberg.jpg") no-repeat 50% 25%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}