//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

@media (max-width: 767px) {
	body {
		padding: 0; // remove default bootstrap left and right padding
	}
	.navbar {
		.btn-navbar {
			margin-top: -55px;
			border-color: #024076;
		}
	}
	// center SEA branding
	// .sea-identity {
	// 	.span3 { text-align: center; }
	// }
	.container {
		margin-left: 10px;
		margin-right: 10px;
	}
	//unfloat bookmark checkbox
	.select-item {
		float: none;
		margin-left: 0;
		form { margin-bottom: 5px; }
	}
	//resize cover image
	.cover {
		text-align: center;
		img { width: 50%; }
	}
	.span3.pull-right {
		margin: 0;
	}
	#previousNextDocument {
		.pull-right {
			float: none;
			margin: 10px 0 0;
		}
	}
	.document-data {
		width: 80%;
	}
}
