.search-bar {
	background: $blue;
}
//override app
#searchbar {
	padding: 5px 0;
}

.search-query-form {
	.input-group-addon {
		border:0px;
		padding:0px
	}
}

// Utility links
// ----------------------//
.util-links-other {
	float: right;
	margin-right: 25px;
	margin-top: 10px;
	a { color: $light-blue; }
	a:hover {
		color: white;
	}
}