$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-gray: #4D4E53;

$dark-gray: #343232;
$gray: #656363;
$medium-gray: #999;
$light-gray: #ccc;
$pale-gray: #f3f3f3;

// nuremberg/law colors
$turquoise: #00bce1;
$other-light-gray: #dbdcdd;

// -------------------
// Boostrap overrides
// -------------------

// Wells
// -------------------------
$well-bg: $pale-gray;

// Fonts
// -------------------------
// Protocol is intentionally absent from URL to allow browser to automatically
// use either http or https as needed -- this is primarily to address Chrome bug

$font-family-base: 'Montserrat'; 		@import
url(//fonts.googleapis.com/css?family=Montserrat:400,700);
