<h2>Bennett Statutory Collection</h2>
<p>The Collection of Statutory Material is a unique historical resource available to scholars and students upon request. The collection contains complete sets of the statutory codes and session laws, from the inception of legislation forward, for each jurisdiction including the:</p>

<ul>
	<li>British colonies</li>
	<li>U.S. territories prior to statehood</li>
	<li>Thirteen original U.S. states</li>
	<li>Fifty current U.S. states</li>
	<li>District of Columbia, Puerto Rico, Guam, and Virgin Islands</li>
</ul>

<p>
The Law Library purchased the foundation of the collection in 1908 with funds generously donated by Earl J. Bennett (LL.B. 1901). Recognizing the importance of maintaining a complete historical record of our nation's laws, Mr. Bennett established an endowment in 1929. This crucial support continues to allow the library to purchase contemporary session laws and compiled statutes from every state of the nation, and make&nbsp;them available to researchers.</p>

<p><em>All of our special collections are available to researchers. If interested, please review our <a href="https://law.library.cornell.edu/about/policies/rarebooks">Rare Book Use Policy</a>.</em></p>