<h2>Chile Declassification Project</h2>
<h3>Guide to Cornell Holdings</h3>

<p>(<a href="/chile_list">Box List)</a></p>

<blockquote>
<ol>
	<li><a href="#I">Background on Pinochet, Chile, and the United States</a></li>
	<li><a href="#II">Chile Declassification Project</a></li>
	<li><a href="#III">Online Full-Text Holdings of Chile Declassification Project</a></li>
	<li><a href="#IV">Congressional Hearings and Reports</a></li>
	<li><a href="#V">International Treaties</a></li>
	<li><a href="#VI">House of Lords Decisions</a></li>
	<li><a href="#VII">Books</a></li>
	<li><a href="#VIII">Journals</a></li>
	<li><a href="#IX">Research</a></li>
	<li><a href="#X">Links</a></li>
</ol>
</blockquote>

<p><a id="I" name="I"></a></p>

<h4><a href="#I">I. BACKGROUND ON PINOCHET, CHILE, AND THE UNITED STATES</a></h4>

<p>Augusto Pinochet is known worldwide as a brutal dictator. His reign officially began on September 11, 1973, when Pinochet attacked La Moneda palace in Santiago with the backing of the Chilean military, staging a violent coup d'etat which overthrew the democratically elected government. General Augusto Pinochet Ugarte commanded Chile from 1973 to 1987. In an agreement to relinquish his position as head of state, Pinochet then served as head of the armed forces from 1987 until 1998, when he retired as a senator for life. His international human rights violations, from the Caravan of Death to Operation Condor, allegedly resulted in 3,000 political murders.</p>

<p>In 1996, while Pinochet remained head of armed forces, the Progressive Association of Prosecutors, a team of Spanish lawyers and magistrates, sought to bring Pinochet to justice. They discovered that Pinochet was in London seeking medical treatment, and requested that the British government arrest Pinochet for extradition to Spain. Pinochet was arrested and eventually extradited to Spain. However, due to his age and failing health, actions against him were suspended in 2001.</p>

<p>Three years later, a Chilean judge indicted Pinochet on human rights charges after he was found fit to stand trial. With multiple actions pending, on his 91stbirthday in 2006, Pinochet purported to take personal responsibility for his actions as dictator after 1973. However, before any legal actions concluded, Pinochet died of a heart attack on December 10, 2006.</p>

<p>In response to the Progressive Association of Prosecutors' efforts to extradite and bring charges against Pinochet, as well as public pressure, the Clinton administration declassified and released nearly 23,000 United States documents concerning American involvement in the Pinochet coup, aid to the Chilean military throughout Pinochet's reign, and other covert operations in Chile. This declassification project occurred between 1999 and 2000, and came in three phases, or tranches, exposing America's history with Chile to public scrutiny for the first time.</p>

<p><a id="II" name="II"></a></p>

<h4>II. CHILE DECLASSIFICATION PROJECT AT CORNELL</h4>

<p>The Chile Declassification Project Collection is located on the old ground (oG) floor of the law library, call number JC 599 .C4. It consists of 69 volumes containing almost 7,000 declassified documents.</p>

<p><a id="III" name="III"></a></p>

<h4>III. ONLINE FULL-TEXT HOLDINGS OF CHILE DECLASSIFICATION PROJECT&lt;</h4>

<p>All three tranches of the Chile Declassification Project are available online. Many federal government websites have the documents available in PDF and freely available to the public. These websites provide a search function to locate specific text within the documents. However, the search results are generally very poor and do not correlate to the request. Link to the U.S. Department of State website<a href="http://foia.state.gov/SearchColls/CIA.asp" target="DoS">here</a>.</p>

<p>Cornell University subscribes to the Declassified Documents Reference System. This database contains documents ranging from the years immediately following World War II, when declassified documents were first made widely available, through the 1970s. Nearly every major foreign and domestic event of these years is covered: the Cold War, Vietnam, foreign policy shifts, the civil rights movement, and others. The Chile Declassification Project documents (Tranches I, II, and III) are included within this database. It is searchable using various parameters, with an excellent advanced search function. It is available only to the Cornell community via the Cornell Library Gateway. Click here to enter the Declassified Documents Reference System.</p>

<p><a id="IV" name="IV"></a></p>

<h4>IV. CONGRESSIONAL HEARINGS AND REPORTS</h4>

<p>The Cornell Law Library holds many congressional hearings and reports concerning US involvement in Chile before and during Pinochet's regime. Some of the most notable include:</p>

<p><em>Refugee and Humanitarian Problems in Chile, Part III: Hearing before the Subcommittee to Investigate Problems Connected with Refugees and Escapees of the Committee on the Judiciary</em>, 94th&nbsp;Cong. (1973).<br />
Call number KF26 .J8 94th&nbsp;Refug</p>

<p><em>Human Rights in Chile<strong>:</strong>&nbsp;Hearings before the Subcommittees on Inter-American Affairs and on International Organizations and Movements of the Committee on Foreign Affairs</em>, 93rd&nbsp;Cong. (1974).<br />
Call number KF27 .F6 93rd&nbsp;Human</p>

<p><em>Covert Action in Chile 1963-1973: Staff Report of the Select Committee to Study Governmental Operations with Respect to Intelligence Activities</em>, 94th&nbsp;Cong. (1975).<br />
Call number E183.8 .C4 U58</p>

<p><em>United States and Chile during the Allende Years, 1970-1973: Hearings before the Subcommittee on Inter-American Affairs of the Committee on Foreign Affairs</em>, 93rd&nbsp;Cong. (1975).<br />
Call number KF27 .F6 93rd&nbsp;U.S.</p>

<p><em>Inquiry into Matters Regarding Classified Testimony Taken on April 22, 1974, Concerning the CIA and Chile: Hearing before the Special Subcommittee on Intelligence of the Committee on Armed Services</em>, 93rdCong. (1975).<br />
Call number KF27 .A7 93rd&nbsp;Inqui</p>

<p><em>Human Rights in Chile: Hearings before the Subcommittee on International Organizations of the Committee on International Relations</em>, 94th&nbsp;Cong. (1976).<br />
Call number KF27 I.54 94th&nbsp;Human</p>

<p><em>Chile</em>:&nbsp;<em>The Status of Human Rights and its Relationship to U.S. Economic Assistance Programs: Hearings before the Subcommittee on International Organizations of the Committee on International Relations</em>, 94th&nbsp;Cong. (1976).<br />
Call number KF27 .I54 94th&nbsp;Chile</p>

<p><em>U.S. Policy, Human Rights, and the Prospects for Democracy in Chile: Hearings and Markup before the Committee on Foreign Affairs and its Subcommittees on Human Rights and International Organizations and on Western Hemisphere Affairs</em>, 100th&nbsp;Cong. (1988).<br />
Call number Microfiche 196 CIS 88 H381-94</p>

<p>The law library and other Cornell libraries hold many other pertinent hearings and reports concerning Chile before, during, and after Pinochet's regime. To search the catalog, go to the Cornell University Catalog webpage, conduct a Guided Keyword Search, entering United States [as a phrase] as the author/creator, and Chile as a keyword.</p>

<p><a id="V" name="V"></a></p>

<h4>V. INTERNATIONAL TREATIES</h4>

<p>There are two main international treaties at issue in the proceedings concerning Pinochet's extradition from Britain to Chile: the 1957 European Convention on Extradition, and the 1977 European Convention on the Suppression of Terrorism.</p>

<p>These treaties can be found in the Cornell Law Library holdings both in print and online. In print, they are available in the European Treaty Series, call number JX626 1954.</p>

<p>Online, they are available to the Cornell community through the Cornell Gateway from the United Nations Treaty Collection (United Nations Treaty Series). Using this database, simply search for the title and receive PDF images.</p>

<p><a id="VI" name="VI"></a></p>

<h4>VI. HOUSE OF LORDS DECISIONS</h4>

<p>The decision whether or not to extradite Pinochet to Chile was made by the British House of Lords, and published in the British Law Report, call number KD288 .A64.</p>

<p>The pertinent decisions are also available online from the House of Lords website at&nbsp;<a href="http://www.publications.parliament.uk/pa/ld/ldjudgmt.htm#1998">http://www.publications.parliament.uk/pa/ld/ldjudgmt.htm</a>&nbsp;(Last accessed May 14, 2007).</p>

<p>Dates of decisions:</p>

<p>25 November 1998</p>

<p>17 December 1998<br />
15 January 1999<br />
24 March 1999</p>

<p><a id="VII" name="VII"></a></p>

<h4>VII. BOOKS</h4>

<p>The Law Library holds the following books dealing with Pinochet:</p>

<p>Peter Kornbluh,&nbsp;<em>The Pinochet File: A Declassified Dossier on Atrocity and Accountability</em>&nbsp;(2003).<br />
Call number JC599 .C4 K67x 2003 Reserve</p>

<p><em>The Pinochet Papers: The Case of Augusto Pinochet in Spain and Britain</em>(Reed Brody &amp; Michael Ratner eds., 2000).<br />
Call number KD373 .P56 P56x 2000</p>

<p><em>The Pinochet Case: A Legal and Constitutional Analysis</em>&nbsp;(Diana Woodhouse ed., 2000).<br />
Call number KD8429 .P56x 2000</p>

<p><em>The Pinochet Case: Origins, Progress and Implications</em>&nbsp;(Madeleine Davis ed., 2003).<br />
Call number KD373 .P56 P564x 2003</p>

<p>Robert Barros,&nbsp;<em>Constitutionalism and Dictatorship: Pinochet, the Junta, and the 1980 Constitution</em>&nbsp;(2002).<br />
Call number KHF2919 .B37 2002</p>

<p>Cornell University Libraries own many other books on the topic. You can search the Cornell Library Catalog for additional Cornell holdings in both English and Spanish. Possible subject headings include:</p>

<p>Pinochet Ugarte, Augusto<br />
Human rights Chile History 20th&nbsp;century Sources<br />
Political persecution Chile History 20th&nbsp;century Sources<br />
State-sponsored terrorism Chile History 20th&nbsp;century Sources<br />
Subversive activities Chile History 20th&nbsp;century Sources</p>

<p><a id="VIII" name="VIII"></a></p>

<h4>VIII. LAW JOURNAL ARTICLES</h4>

<p>Many law journal articles have been written on Pinochet and Chile. These articles are available both in print, and online. In print, use these periodical indexes to locate articles of interest, then search the catalog for print holdings of journals owned by the law library:</p>

<p>Current Index to Legal Periodicals, call number KF8 .W31<br />
Current Law Index, call number K33 .C97<br />
Index to Foreign Legal Periodicals, call number K33 .I38<br />
Index to Legal Periodicals, call number KF8 .I37</p>

<p>All periodical indexes are located in the reference section of the reading room.</p>

<p>Members of the Cornell community who are not affiliated with the law school can access these indexes online via the library gateway: Index to Legal Periodicals and Index to Foreign Legal Periodicals</p>

<p>Members of the law school can use the two online indexes listed above, or use Legal Resource Index (LRI) (the electronic version of Current Law Index), available on both Westlaw and Lexis-Nexis. While both Westlaw and Lexis have similar holdings, Westlaw allows the researcher to link directly from the LRI results list to the full text of the article if available. For PDF images of the article as it was originally published, use Hein Online (available to the entire Cornell community).</p>

<p><a id="IX" name="IX"></a></p>

<h4>IX. LEGAL RESEARCH</h4>

<p>For a detailed legal research guide to Pinochet, see:</p>

<p>Kathleen M. Johnson,&nbsp;<em>The Case of General Augusto Pinochet: A Legal Research Guide</em>, 27 Brook. J. Int'l L. 519 (2001-2002).</p>

<p><a id="X" name="X"></a></p>

<h4>X. WEBLINKS</h4>

<p>The National Security Archive provides extensive information on the declassification project process, analysis of those documents and the process of their release, and pdf production of select declassified documents.<br />
<a href="http://www.gwu.edu/~nsarchiv/latin_america/chile.htm" target="GWU">http://www.gwu.edu/~nsarchiv/latin_america/chile.htm</a></p>

<p>The Transnational Institute (TNI), in cooperation with the Institute for Policy Studies (IPS), features "The Pinochet Precedent." This site includes a chronology of events and links to major case decisions both in Chile and England (decisions are in English or Spanish depending on the issuing court). Information concerning related cases, such as Letelier and Horman, is also included.<br />
<a href="http://www.tni.org/pinochet/index.htm" target="TNI">http://www.tni.org/pinochet/index.htm</a></p>

<p>Human Rights Watch has a website highlighting the Pinochet prosecution at<a href="http://www.hrw.org/campaigns/chile98/index.htm" target="HRW">http://www.hrw.org/campaigns/chile98/index.htm</a>.</p>

<p>Amnesty International has ongoing information on the effects of the Pinochet case on Chile at&nbsp;<a href="http://www.amnestyusa.org/countries/chile/index.do" target="AM">http://www.amnestyusa.org/countries/chile/index.do</a>.</p>