<h2>Chile Holdings Box List</h2>
<p>Untitled Document</p>
<p>Human Rights in Chile - Print Archive</p>
<p>Tranche 1:</p>
<p>v. 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; January-September 1973<br>
v. 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; October 1973<br>
v. 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; November-December 1973<br>
v. 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; January-February 1974<br>
v. 5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; February-March 1974<br>
v. 6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; March-May 1974<br>
v. 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; June-August 1974<br>
v. 8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; September-December 1974<br>
v. 9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; January-March 1974<br>
v. 10&nbsp;&nbsp;&nbsp; April-June 1975<br>
v. 11&nbsp;&nbsp;&nbsp; July 1975<br>
v. 12&nbsp;&nbsp;&nbsp; August-October 1975<br>
v. 13&nbsp;&nbsp;&nbsp; November-December 1975<br>
v. 14&nbsp;&nbsp;&nbsp; January-February 1976<br>
v. 15&nbsp;&nbsp;&nbsp; March-April 1976<br>
v. 16&nbsp;&nbsp;&nbsp; May 1976<br>
v. 17&nbsp;&nbsp;&nbsp; June 1976<br>
v. 18&nbsp;&nbsp;&nbsp; July-August 1976<br>
v. 19&nbsp;&nbsp;&nbsp; September-December 1976<br>
v. 20&nbsp;&nbsp;&nbsp; January-February 1977<br>
v. 21&nbsp;&nbsp;&nbsp; March-May 1977<br>
v. 22&nbsp;&nbsp;&nbsp; June-August 1977<br>
v. 23&nbsp;&nbsp;&nbsp; September-December 1977<br>
v. 24&nbsp;&nbsp;&nbsp; January-April 1978<br>
v. 25&nbsp;&nbsp;&nbsp; May-August 1978<br>
v. 26&nbsp;&nbsp;&nbsp; September-December 1978<br>
v. 27&nbsp;&nbsp;&nbsp; Undated<br>
v. 28&nbsp;&nbsp;&nbsp; Undated<br>
v. 29&nbsp;&nbsp;&nbsp; Undated</p>
<p>Tranche 2:</p>
<p>v. 1 &nbsp; &nbsp;&nbsp;PART 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; October 1969-August 1975</p>
<p>PART 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; October 1969-August 1975</p>
<p>v. 2 &nbsp; &nbsp;&nbsp;PART 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; September 1975-September 1977</p>
<p>PART 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; September 1975-September 1977</p>
<p>v. 3&nbsp;&nbsp;&nbsp;&nbsp;PART 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; October-December 1977</p>
<p>PART 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; January-December 1978</p>
<p>v. 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PART 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Undated</p>
<p>PART 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Undated</p>
<p>Tranche 1:</p>
<p>Annexes from Other Agencies<br>
Central Intelligence Agency PART 1:1<br>
PART 1:2<br>
PART 2:1<br>
PART 2:2<br>
PART 3:1<br>
PART 3:2<br>
PART 4:1<br>
PART 4:2</p>
<p>Tranche 2:</p>
<p>Annexes<br>
Central Intelligence Agency PART 1:1<br>
PART 1:2</p>
<p>Tranche 1:</p>
<p>Annexes from Other Agencies<br>
Department of Defense</p>
<p>Tranche 2:</p>
<p>Annexes<br>
Department of Defense</p>
<p>Tranche 1:</p>
<p>Annexes<br>
Federal Bureau of Investigation PART 1<br>
PART 2:1<br>
PART 2:2</p>
<p>Tranche 2:</p>
<p>Annexes<br>
Federal Bureau of Investigation PART 1:1<br>
PART 1:2<br>
PART 2:1<br>
PART 2:2<br>
PART 3:1<br>
PART 3:2<br>
PART 4:1<br>
PART 4:2<br>
PART 5:1<br>
PART 5:2<br>
PART 6</p>
<p>Tranche 1:</p>
<p>Annexes<br>
NARA</p>
<p>Tranche 2:</p>
<p>Annexes<br>
NARA PART 1:1<br>
PART 1:2</p>
<p>Tranche 2:</p>
<p>Annexes<br>
National Security Council</p>
<p>Tranche 1:</p>
<p>Annexes<br>
U.S. Department of Justice</p>