<h2>Rogers Collection</h2>
<h3>William P. and Adele Langston Rogers Collection</h3>

<p>As Secretary of State under the Nixon Administration and U.S. Attorney General under President Eisenhower, William P. Rogers (J.D. '37) , with his wife, Adele Langston Rogers (J.D. '36), witnessed some of the major events of the 20<sup>th</sup> Century, including the Treaty of Paris, the document which ended the Vietnam War, and the opening of relations between the U.S. and the Peoples Republic of China.</p>

<p>William ("Bill") Rogers (1913-2001) was awarded the Presidential Medal of Freedom, the nation's highest civilian honor, in 1973. And in recognition of his many contributions to the legal profession and to his country, Cornell Law School awarded him the Distinguished Alumnus Award in 1981. In 2001, Mr. Rogers' partners at Clifford Chance Rogers &amp; Wells honored him by naming their new Washington, D.C. office building the William P. Rogers Building.</p>

<p>Adele Rogers (1912-2001) regularly traveled with Bill on his Department of State trips, visiting 75 countries in four years. She was the first woman to be awarded the Presidential Citizens Medal in 1973, recognizing her as a U.S. citizen that had performed exemplary deeds of service for the nation. She served as director of the National School Volunteer Program, as a member of the Cornell University Board of Trustees, and volunteered her time and talents to disadvantaged children in inner city schools.</p>

<p>In 2001, the Rogers family generously donated materials that reflect the lives of William and Adele Rogers, the majority from the years 1969-1973.</p>

<p class="pull-right pull-img"><img src="/assets/cornell/rare-books.jpg" alt="Rogers Collection book image" class="img-thumbnail"></p>

<p>Included within this collection are:</p>

<ul>
	<li>Articles from Mr. Rogers' tenure as chair of the Challenger Explosion Investigation</li>
	<li>Photos, artifacts, and memorabilia from Mr. Rogers' position as Secretary of State under President Nixon</li>
	<li>Photos, artifacts, and memorabilia from Mr. Rogers' position as U.S. Attorney General under President Eisenhower</li>
	<li>Official photo albums from Mr. and Mrs. Rogers' many trips overseas, including trips to Afghanistan, Tunisia, Peru, and other nations</li>
	<li>Memorabilia such as keys to cities and gifts from heads of state and foreign dignitaries</li>
</ul>