<h2>Supreme Court Collection</h2>
<p class="pull-right img-right"><img alt="Photo of stacks" class="img-thumbnail" src="/assets/cornell/stacks2.jpg"></p>
<p>The Cornell Law Library offers researchers a wealth of U.S. Supreme Court materials. In addition to excellent online resources, the library is one of several Supreme Court depositories for print materials. These materials include records and briefs from matters appealed to the Court dating from 1928. The print collection is supplemented with microform and electronic materials dating back to 1832.</p>
<h3>Physical Collection</h3>
<p>Detailed information about the specific holdings in this collection is available in these two research guides:</p>
<ul>
	<li><a href="http://guides.library.cornell.edu/SupCourtOralArguments">"Research Guide: U.S. Supreme Court Oral Arguments</a></li>
	<li><a href="http://guides.library.cornell.edu/SupCourtBriefs">Research Guide: U.S. Supreme Court Records and Briefs</a></li>
</ul>

<h3>Digital Collection</h3>

<p>Access a complete list of the online databases featuring <a href="http://library2.lawschool.cornell.edu/esources/default.aspx?ID=178">U.S. Supreme Court materials</a> available at Cornell Law Library.</p>
