<div class="home-text">
	<h2>Welcome to Southeast Asia Visions</h2>
	<div class="well">
		<p>Southeast Asia Visions is a collection of European travel accounts of pre-modern Southeast Asia from Cornell University Library's John M. Echols Collection<!-- <a href="http://asia.library.cornell.edu/ac/Echols/">John M. Echols Collection</a> -->. The site provides online access to more than 350 books written in English and French. <small><a href="/about/collection/">Learn more <i class="fa fa-angle-double-right"></i></a></small></p> 
	</div>
</div>



<div class="bridge">
	<div class="row bridge-section">
		<img src="/assets/cornell/40_00284.jpg" alt="" class="pull-left img-polaroid">
		<h3><a href="/about/collection">About the Collection</a></h3>
		<p>Historical context, geographical context (including map of Southeast Asia), significance of these accounts, and bibliographies.</p>
	</div>
	<div class="row bridge-section">
		<img src="/assets/cornell/53_00206.jpg" alt="" class="pull-left img-polaroid">
		<h3><a href="/about/project">About the Project</a></h3>
		<p>Digitization, cataloging and metadata, copyright, project staff and contact information.</p>
	</div>
</div>	

<div class="more-info">
	<div class="row">
		<div class="more-info-links">
			<h4>More information</h4>
			<ul>    
				<li><a href="http://asia.library.cornell.edu/ac/Echols/">The John M. Echols Collection on Southeast Asia</a></li>
				<li><a href="http://asia.library.cornell.edu/ac/">Kroch Library, Asia Collections</a></li>
				<li><a href="http://rmc.library.cornell.edu/">Rare and Manuscripts Collection</a></li>
				<li><a href="http://www.einaudi.cornell.edu/southeastasia/">Southeast Asia Studies Program</a></li>
			</ul>
		</div>
		<div class="more-info-sponsors">
			<a href="http://asia.library.cornell.edu/ac/" title="Kroch Library, Asia Collections"><img src="/assets/cornell/lotus.gif" alt="Kroch Library, Asia Collections"></a>
			<a href="http://www.imls.gov/"><img src="/assets/cornell/imls.jpg" alt="Institute of Museum and Library Services" title="Institute of Museum and Library Services"></a>
		</div>
	</div>
</div>

	<div class="row">
		<div class="disclaimer">
			<p>Note: This site includes some historical materials that may imply negative representations or stereotypes of the peoples discussed in the documents. These documents have been included as part of the historical record and should not be interpreted to mean that project staff endorse or approve of the representations or stereotypes implied.</p>
		</div>
	</div>
