<div class="home-text">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis imperdiet cursus. Curabitur tempus eu arcu id volutpat. Donec in orci quis lorem facilisis lobortis vel at ipsum. Nunc congue tincidunt dolor, at eleifend dolor commodo non. Maecenas vestibulum lectus at odio congue dapibus.</p>
	<div class="well">
		<h2>Search Collection</h2>
		<%= render_search_bar  %>
	</div>
</div>
