<div class="home-text">
	<p>The Donovan Nuremberg Trials collection consists of nearly 150 bound volumes of Nuremberg trial transcripts and documents from the personal archives of General William J. Donovan (1883-1959). The Donovan papers contain both original statements from the defendants in German and typed translations in English prepared by the Allies.</p>
</div>
