
<div class="home-text">

	<% if current_page?('/nuremberg') %>
		<p>The Donovan Nuremberg Trials collection consists of nearly 150 bound volumes of Nuremberg trial transcripts and documents from the personal archives of General William J. Donovan (1883-1959). The Donovan papers contain both original statements from the defendants in German and typed translations in English prepared by the Allies.</p>
	<% elsif current_page?('/trial') %>
		<p>The Trial Pamphlets collection at the Cornell University Law Library consists of pamphlets ranging in date from the late 1600s to the late 1800s. Trial pamphlets are contemporary accounts of trials that involved prominent citizens or that dealt with especially controversial or lurid topics. These pamphlets were produced quickly and inexpensively, and then sold on the street soon after the trial to a mass audience. The paper used to print the pamphlets was of a lower quality (ephemera) and the pamphlets were not bound. Thus, the pamphlets were not meant to survive much past their initial use. The content of the individual pamphlets varies widely. They were sold to an eager public as both a form of entertainment and as cautionary tales. Some include the details and illustrations of scandalous crimes and others include “execution sermons,” which were meant to serve as moral examples to the readers. Most include valuable information not available elsewhere, such as verbatim transcripts of testimony and arguments of counsel, depositions of parties, and illustrations or copies of evidence used in the trial.</p>
	<% elsif current_page?('/scottsboro') %>
		<p>In the 1930s, nine young African-American men were tried for raping two white women in a train freight car in a groundbreaking case that tested the limits of race relations in the United States. Cornell Law alumnus Samuel S. Leibowitz (J.D. '15) represented these teenagers, who came to be known as the "Scottsboro Boys," in several proceedings. He kindly gave several important original documents and artifacts to the Cornell Law Library.</p>
	<% elsif current_page?('/liberian') %>
		<p>Liberian Law contains documents dealing with the creation of the nation of Liberia and the laws enacted at its foundation. These materials include the Constitution and the Laws of the Commonwealth going back to the Colonization Society.</p>
	<%# law collections home page %>
	<% else %>
		<div class="row">
		  	<div class="collection">
		    	<a href="/nuremberg"><img class="img-thumbnail" src="/assets/cornell/thumb-nuremberg.jpg" alt=""></a>
		    	<div class="collection-name collection-digital">
			    	<div class="label label-type">Digitized</div>
			    	<a href="/nuremberg">Donovan Nuremberg Trials Collection</a>
			    </div>
		  	</div>
		  	<div class="collection">
		    	<a href="/liberian"><img class="img-thumbnail" src="/assets/cornell/thumb-liberian.jpg" alt=""></a>
		    	<div class="collection-name collection-digital">
			    	<div class="label label-type">Digitized</div>
			    	<a href="/liberian">Liberian Law</a>
			    </div>
		    </div>
		    <div class="collection">
		    	<a href="/scottsboro"><img class="img-thumbnail" src="/assets/cornell/thumb-scottsboro.jpg" alt=""></a>
		    	<div class="collection-name collection-digital">
			    	<div class="label label-type">Digitized</div>
			    	<a href="/scottsboro">Scottsboro Trials Collection</a>
			    </div>
		    </div>
		    <div class="collection">
			    <a href="/trial"><img class="img-thumbnail" src="/assets/cornell/thumb-trial.jpg" alt=""></a>
			    <div class="collection-name collection-digital">
				    <div class="label label-type">Digitized</div>
				    <a href="/trial">Trial Pamphlets Collection</a>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="collection">
		    	<a href="https://law.library.cornell.edu/SpecialCollections/Bennett"><img class="img-thumbnail" src="/assets/cornell/thumb-placeholder.jpg" alt=""></a>
		    	<div class="collection-name">
			    	<div class="label label-type">Print</div>
			    	<a href="https://law.library.cornell.edu/SpecialCollections/Bennett">Bennett Statutory Collection</a>
			    </div>
		  	</div>
		  	<div class="collection">
		    	<a href="https://law.library.cornell.edu/SpecialCollections/ChileHoldings"><img class="img-thumbnail" src="/assets/cornell/thumb-placeholder.jpg" alt=""></a>
		    	<div class="collection-name">
			    	<div class="label label-type">Print</div>
			    	<a href="https://law.library.cornell.edu/SpecialCollections/ChileHoldings">Chile Collection</a>
			    </div>
		    </div>
		    <div class="collection">
		    	<a href="https://law.library.cornell.edu/SpecialCollections/Rogers"><img class="img-thumbnail" src="/assets/cornell/thumb-placeholder.jpg" alt=""></a>
		    	<div class="collection-name">
			    	<div class="label label-type">Print</div>
			    	<a href="https://law.library.cornell.edu/SpecialCollections/Rogers">Rogers Collection</a>
			    </div>
		    </div>
		    <div class="collection">
			    <a href="https://law.library.cornell.edu/specialcollections/supct"><img class="img-thumbnail" src="/assets/cornell/thumb-placeholder.jpg" alt=""></a>
			    <div class="collection-name">
				    <div class="label label-type">Print</div>
				    <a href="https://law.library.cornell.edu/specialcollections/supct">Supreme Court Collection</a>
				</div>
			</div>
		</div>
		<div class="row">
		  	<div class="collection">
		    	<a href="https://law.library.cornell.edu/specialcollections/rarebooks"><img class="img-thumbnail" src="/assets/cornell/thumb-placeholder.jpg" alt=""></a>
		    	<div class="collection-name">
			    	<div class="label label-type">Print</div>
			    	<a href="https://law.library.cornell.edu/specialcollections/rarebooks">Rare Books</a>
			    </div>
		  	</div>
		</div>
	<% end %>

</div>



