<div class="sidebar">
	<ul class="nav">
		<li class="nav-header"><a href="/liberian/law">Liberian Law at Cornell</a></li>
		<li><a href="/liberian/library">A National Law Library for Liberia</a></li>
		<li><a href="/liberian/recodification">Konvitz Recodification Files</a></li>
		<li><a href="/liberian/reports">Reports: Cumulative Subject Index for vols. 1-27</a></li>
	</ul>
</div>
