<h2>Copyright and Permissions</h2>
<p>The Cornell University Law Library Liberian Law collection is open to the general public, in accordance with the terms set forth in the <a href="http://hdl.handle.net/1813.001/CULCopyright">Guidelines for Using Public Domain Text, Images, Audio, and Video Reproduced from Cornell University Library Collections</a>. Permission is not required from Cornell University Library to use items from the Liberian Law collection.</p>
<p>We do suggest the following credit line:</p>
<blockquote><p><strong>Courtesy of Cornell University Law Library, Liberian Law Collection</strong></p></blockquote>
<p>If the online files do not meet your needs, we can provide 300 dpi color tifs for a file retrieval/delivery fee. For a price quote, please email <a href="mailto:dcaps@cornell.edu?subject=Liberian Law">dcaps@cornell.edu</a> with bibliographic details. Include "Liberian Law" in the subject line.</p>