<div class="row">
  <%= render :partial => 'pages/liberian/collection_menu' %>

  <div class="main-text">
    <h2>Liberian Law at Cornell</h2>
    <p>Due to Cornell's longstanding ties with Liberia, specifically through Professor Milton Konvitz's 20 years with the Liberian Law Codification Project and <a href="/liberian/library">Professor Jane Hammond's work organizing the National Law Library</a>
      </span>, the Cornell Law Library has an extensive collection of Liberian materials, some of which are unique due to the destruction of the National Liberian Library during the civil war.</p>
    <p>With the end of hostilities in Liberia and as the country begins the process of rebuilding, scholarly interest in Liberia's past, present, and future has increased. Recent conferences have ranged from the Liberian Studies Association's conference
      on "Civic Engagement in Liberia: Strategies for Peace and Sustainable Development" in March 2004 to the United Nations Conference of Donor Nations in February 2005. Current interest in Liberia includes both the academic community and the
      practitioners who are helping to rebuild the country.</p>
    <p>The Cornell Law Library has also seen an increase in interest in Liberian materials. The most telling request came from a United Nations official assigned to the Legal Services Section of the Liberian National Police. The official contacted the
      Law Library for a copy of Liberia's Penal Code, which was codified during the Liberian Codification Project headed by Professor Konvitz, because he was unable to find a copy of the Code in Liberia.</p>
    <p>Thus, there is a great need from both scholars and practitioners for the type of Liberian material in Cornell's collection. Much of the collection consists of primary resources collected during the Codification Project and rare manuscripts dealing
      with Liberia's early history. This material naturally lends itself to interdisciplinary research in areas for which Cornell is known such as African Studies, Political Science, and Law. Digitizing and publicizing these materials not only aids
      scholars in understanding Liberia's past, it also helps those trying to rebuild the country and highlights Cornell's important historic ties to Liberia.</p>
  </div>
</div>
