
  <h2>A National Law Library for Liberia</h2>
  <p>by Jane L. Hammond</p>
  <p>After being involved with the law school building project for many years, I decided to take a sabbatical leave, devoted to some very different activity, at the end of the project. I expected the building project to be completed in 1988, which
    would make January 1989 an appropriate time for me to go on leave. At the same time as I started to plan my leave, the American Library Association announced the projects to be included in its Library Fellow Program for 1988-89. They were soliciting
    applicants for ten diverse projects throughout the world, including one in Liberia. The Liberian project called for a consultant to spend three months in Montovia, Liberia, organizing the new National Law Library and training a Liberian librarian to
    manage the library after the consultant's tour was over.</p>
  <p>The Liberia project appealed to me for many reasons. First, it was a law library project clearly within my area of expertise. Second, it would provide an opportunity to reestablish the Cornell-Liberia ties created by Milton Konvitz (professor at
    Cornell from 1946 to 1973) in 1952 and continued by him and the Liberian Codification Project until the Liberian coup d'etat in 1980. Third, it was to last three months, just the length of time I hoped to be on leave and long enough to live in a
    foreign country and begin to feel like a resident rather than a tourist. So I applied, was interviewed, and was appointed for the term that ran from January 1 through March 31, 1989.</p>
  <p>The project was proposed by the United States ambassador to Liberia, and its primary funding came from the United States Department of State Human Rights Fund. The purpose of funding the project was to support the ambassador's goal of directly
    improving the rule of law in Liberia by creating a publicly accessible law library, making law books more available to Liberians. The only existing law libraries were the University of Liberia's law school library and small collections of books in
    government agencies and in the courts. Less directly the sponsors hoped, by having the association administer the new National Law Library, to make the Liberian National Bar Association a more active force in improving the administration of justice
    in Liberia. That goal had the approval of the officers of the bar association. As the president of the association said, until the bar association became involved in the project, its primary activity was participation in the funerals of its members.</p>
  <p>I arrived at the Robertsfield airport, fifty miles from Monrovia, just before midnight on December 30, 1988. I was met by the public affairs officer of the U.S. embassy in Liberia, was expedited through the arrival formalities by a member of his
    staff, and was treated thereafter as if I were a member of the diplomatic mission, even though I was officially an employee of the American Library Association. The ambassador provided me with housing without charge, a four-bedroom, air-conditioned
    house in the suburbs of Monrovia, within two blocks of a beautiful beach on the Atlantic Ocean. Also provided was a "welcome kit" with the table service, linens, appliances, and so on, I would need to survive. I did not have a car, but taxis were
    readily available and cheap; the five-mile ride from my house to the library was sixty-five cents, no tipping. Of course, cabs were shared with as many people as the driver could squeeze into his vehicle, unless one paid for all four seats. I
    frequently did that when I had bags of groceries to carry home.</p>
  <p>I was issued a two-way radio that I could use to contact the marine guard at the embassy in any emergency or other members of the diplomatic contingent for any reason. As I had no telephone in either the house or the library, the radio was my only
    communication link. Monitoring the radio, which I had to do to be aware of anyone calling me, gave me an insight into the problems that the many people connected with the embassy have from plumbing problems to police pull-overs. The lowest echelons
    of the police and the army were not well disciplined; all too often they would harass civilians, occasionally an American, seeking bribes (which we were constrained from paying) or with some other motive. Taking photographs of even the most innocent
    scene could bring about an arrest, seizure of the camera, and so on, for the alleged crime of photographing a military installation. The exterior photograph accompanying this article was taken late in the day when there was little traffic so that I
    would be able to see any police officers or soldiers in the area.</p>
  <p>Theft of personal property is a major problem there, as it is in any society with massive unemployment, so the embassy provided twenty-four-hour guard service for all employee residences. While physical security was not a concern, having the
    guards did increase my own sense of security. One night I thought the guards were trying to rouse me by pounding on the walls, but when I investigated, I could see nothing. The next morning I discovered the noise had come from ripening nuts falling
    off the almond tree onto the metal roof of the house. Such was the level of danger in that compound.</p>
  <p>The
    National Law Library occupies the top floor of Liberia's first executive mansion, a nineteenth-century brick building in the business district of Monrovia. Its architecture is reminiscent of the antebellum mansions that Liberia's settlers remembered
    from their days as slaves in the United States. The separate kitchen-smokehouse is still standing behind the main building. Installing the new law library in this historic building provided the impetus for extensive repairs and renovations that will
    preserve the building as well as provide a convenient location for the library. When I arrived, the renovations were complete. The bookshelves, tables, and chairs had been built locally and were installed.</p>
  <p>I had been told that the-renovation budget did not provide for air-conditioning equipment, so it was with surprise and great pleasure that I found a large cooling and dehumidifying unit installed in the library. Monrovia is on the seacoast, six
    degrees from the equator, and receives twelve to fifteen feet of rain during the rainy season (April through October)-a truly tropical climate. Fortunately I was there during the dry season, with a more tolerable humidity but with lots of dust
    brought by winds off the Sahara. But even in that season, the air-conditioning unit provided a welcome improvement in working conditions.</p>
  <p>United States law is used as a precedent in Liberia whenever a Liberian precedent is not available. Most of the statutory revisions are also derived from United States federal or state law, in large part as a direct result of Milton Konvitz's
    Liberian Codification Project, so this law library in Liberia is devoted, overwhelmingly, to United States legal materials. The basic collection had been purchased in the United States by the United States Department of State. That purchase was
    augmented by hundreds of cartons of secondhand books from donors in the United States.</p>
  <p>The regional U.S. Information Service librarian had worked in the library for a few weeks in August 1988, opening and sorting the 750 cartons of books, during the rainy season and without air-conditioning-a dirty job that I was most grateful not
    to have to do. She shelved the best copies of the major sets (codes, reporters, encyclopedias) and identified many duplicate sets, which the bar association was then able to sell for $10,000. That money provided the capital for the Liberian National
    Bar Association to operate the National Law Library; it provided salaries for the native librarian and one helper for one year and funded the air-conditioning unit, supplies, and all other expenses. United States funding provided only the capital and
    start-up costs.</p>
  <p>A Liberian who had several years of experience in a technical school library after receiving her library certificate had been hired as the permanent librarian. We also had a manual laborer who was literate and therefore able to sort and shelve
    books in order as well as move books and act as our janitor and messenger. Because we had no telephone and the local mail was unreliable, a messenger was necessary for contact with anyone in Monrovia.</p>
  <p>When I arrived, my first task was to sort the contents of the remaining three hundred cartons of books, which took the three of us about three weeks. We kept two copies of most of the materials and inventoried the remaining volumes for sale. With
    the cartons out of the way, we could then shift the book-stack units into one room from another room, where they were so close together that we could barely walk between them. Because the bookcases were too tall to go through the doorway (they had
    been built in the room), we had to take all the books out of several units, move them as close together as possible, and then lay each unit flat on the floor and roll it onto its side before pushing it into the other room.</p>
  <p>Once
    sorted, the collection was ready to be cataloged and arranged in subject order, but I had none of the necessary supplies or reference materials. I had submitted a list of supplies to the bar association's Library Committee a week after I arrived, but
    the funds for purchase were not approved for weeks. Only after the president of the bar association disbanded the original Library Committee and constituted a new committee was any action taken on my request. Fortunately the president himself had
    sent over two yellow pads, four pencils, and two ballpoint pens on my first day. Those items proved to be our only office supplies for a month. Finally the new Library Committee established the cost of the supplies and received permission from the
    association's executive committee to purchase them. When the check was finally written and taken to be cashed, the bank alleged it was not the proper signature. It took a visit of the president of the Liberian National Bar Association and the chair
    of its Library Committee, who is a deputy minister of justice, to the secretary-general of the bank to get $150 cash with which we could buy paper, envelopes, pencils, a pencil sharpener, a broom, dust cloths, and so on.</p>
  <p>About the first of February the deputy minister lent the library one of the ministry's old manual typewriters, with an inoperable backspace key. The typewriter could not hold a catalog card in place for typing. After exploring the limited options
    we had for producing catalog cards, we settled on poster board, sliced into strips five inches wide. We would type nine cards per strip (reversing the strip to type the last one) and then cut them into three-by-five inch cards. The public affairs
    officer of the United States embassy contributed the catalog card case, but it did not arrive from the United States until after I had left Liberia. A stylus for marking the call numbers on the books, ordered through Cornell's purchasing department,
    did arrive in time for us to have most of the collection marked while I was still there.</p>
  <p>In about six weeks we had the books all unpacked and sorted and those that were to remain in the collection, about 40 percent of the total, on the shelves ready for me to create a card catalog for subject access and to classify them into a logical
    shelf arrangement. Doing that took me back to my early days at the Villanova University Law Library when it was so new that I had to begin their catalog. The immediate difference was that I did not have in Liberia the reference tools I had used at
    Villanova and that we are still using at Cornell.</p>
  <p>The librarian of the University of Liberia was most helpful, particularly in lending me a copy of the
    <em>Library of Congress Subject Headings</em>
    for two months and letting us consult that library's printed copy of the United States
    <em>National Union Catalog</em>. The Cornell Law Library contributed a copy of the Library of Congress classification schedule for United States materials, and I relied on my memory for the cataloging rules. With those sources I was able to create
    the master catalog cards for the collection525 titles and 4,200 volumes, of which about 800 were second copies. Typing the complete card sets was left to the permanent librarian to do when my tour was done.</p>
  <p>I held formal classes in managing a law library and in legal research twice a week with two students-the permanent librarian and a law student who hoped to be hired as a part-time librarian. Most of the teaching materials I had planned to use in
    the course were lost in transit, so it was somewhat more spontaneous than I had intended. Fortunately, among the secondhand books in the library were twenty-one copies of the first edition of a basic legal research text, so each of us could have our
    own without depleting the permanent collection. I devised illustrative problems for them, problems that emphasized the resources of this particular collection. For instance, the current and complete set of
    <em>American Law Reports</em>
    is the best set they have, so we spent three weeks getting familiar with it and its many finding tools. The law student was dumbfounded to discover that different judges in the United States do not always reach the same results on the same facts. We
    gave more attention to the legal encyclopedias than those books would receive in the United States, because Liberian lawyers and judges rely heavily on
    <em>American Jurisprudence</em>
    and
    <em>Corpus Juris Secundum</em>. Most of the cases cited in those encyclopedias are not available in Liberia, for none of the West regional reporters are available anywhere in the country. Federal cases are more generally available and are cited.</p>
  <p>The library was officially opened a week before I left, with considerable publicity in the newspapers and on the radio. While several people stopped in the next week, none paid their membership dues. One explanation given to me was that it was the
    last week of the month, when most people had little cash, since everyone is paid monthly, on the first of the month. The dues are modest, even by Liberian standards: $25 a year for lawyers; $12 for law students; $10 for the general public; and $5 for
    other students, payable semiannually. The dues will be the only income for the library and the source of staff salaries after this year.</p>
  <p>When I left, on April Fool's Day 1989, the library was in order, everything had been cataloged and classified (but the card sets had not been typed), the treatise collection and some of the reports had call numbers lettered on them, and property
    marks had been stamped on the collection. I had been told that no project could be completed in a third-world country in three months; I found that prediction to be wrong in this case because (1) it was a new institution with new staff, so I was not
    impinging on anybody's status quo, (2) I had the strong support of the United States ambassador and his public affairs officer, who were willing to push for solutions to problems, (3) most of the pieces were in place when I arrived, that is, staff
    had been hired, renovations had been completed, and many books had been unpacked, and (4) the members of the bar association were not interested in managing my work.</p>
  <p><small>Jane L. Hammond is the Edward Cornell Law Librarian and professor of law.<br/>
      (From <em>Cornell Law Forum</em>, Vol. 16 No. 3, March 1990, pg. 16-19)</small>
  </p>
  <p class="top-link"><a href="#top">Top</a></p>