<div class="row">
  <%= render :partial => 'pages/liberian/collection_menu' %>

  <div class="main-text">
    <h2>Konvitz Recodification Files</h2>
		<p><a href="/docs/konvitz.pdf">Konvitz Liberian Recodification Project Archive</a>
		<p>Please Contact Reference Librarian for Assistance<br />
		607.255.9577<br />
		<a href="mailto:lawlib@cornell.edu">lawlib@cornell.edu</a></p>
  </div>
</div>
