<h2>Konvitz Recodification Files</h2>
<p><a href="/docs/konvitz.pdf">Konvitz Liberian Recodification Project Archive (PDF)</a>
<p>Please contact a reference librarian for assistance:<br />
(607)255-9577<br />
<a href="mailto:lawlib@cornell.edu">lawlib@cornell.edu</a></p>