<ul class="nav nav-list">
	<li class="nav-header">About the Collection</li>
	<li><a href="/about/collection/" class="about-collection">Historical Context</a></li>
	<li><a href="/about/geographic/" class="about-geographic">Geographic Context</a></li>
	<li><a href="/about/significance/" class="about-significance">Significance of These Accounts</a></li>
	<li><a href="/about/bibliography/" class="about-bibliography">Bibliography</a></li>
</ul>