<ul class="nav nav-list">
	<li class="nav-header">About the Project</li>
	<li><a href="/about/contact/" class="about-contact">Contact</a></li>
	<li><a href="/about/copyright/" class="about-copyright">Copyright</a></li>
	<li><a href="/about/credits/" class="about-credits">Credits</a></li>
	<li><a href="/about/delivery/" class="about-delivery">Delivery &amp; Access</a></li>
	<li><a href="/about/digitization/" class="about-digitization">Digitization</a></li>
	<li><a href="/about/press/" class="about-press">Press</a></li>
	<li><a href="/about/pod/" class="about-pod">Print-on-Demand</a></li>
	<li><a href="/about/sponsor/" class="about-sponsor">Sponsor (IMLS)</a></li>
	<li><a href="/about/survey/" class="about-survey">Survey</a></li>
</ul>