<div class="row">
	<div class="sidebar">
		<%= render :partial => 'collection_nav' %>
	</div>
	<div class="main-text">
		<h2>Bibliography</h2>
		<p>The bibliography for this collection is available for download in Word DOC format, organized by country name
		and alphabetically by author. Please click the links below to download the bibliography.</p>
		<ul>
			<li><a href="/data/bib_country_2006.pdf">Bibliography by Country (PDF)</a></li>
			<li><a href="/data/bib_author_2006_feb9.pdf">Bibliography by Author (PDF)</a></li>
		</ul>	
	</div>
</div>