<div class="row">
	<div class="sidebar">
		<%= render :partial => 'collection_nav' %>
	</div>
	<div class="main-text">
		<h2>Historical Context</h2>
		<img class="pull-right img-polaroid" src="/assets/cornell/03_00215.gif" alt="">
		<p>The Visions collection includes the written and photographed experiences of Europeans and Americans who traveled to Southeast Asia during the period of imperialism. The peoples of Southeast Asia experienced waves of colonization beginning in 1511 when the Portuguese took Melaka, a strategic and thriving port city on the Malay Peninsula. The Spanish established a colony in the Philippines which they ruled from the 1560s until 1899 when the United States ousted the Spanish and governed the colony until Philippine independence in 1946. The Dutch gradually conquered the areas known today as Indonesia beginning in 1596 and ending after WWII. The British Empire, centered in South Asia, moved into the Malay Peninsula and Burma by the early 1800s but did not withdraw from Burma until 1948 and Malaysia and Singapore until 1957. France established a foothold in Cambodia, Vietnam, and Laos, an area grouped under the rubric of French Indochina and ruled by the French from the mid-to-late 1800s until after WWII.</p>

		<p>The complex histories of colonization in Southeast Asia have enabled the production of a vibrant (and ethnocentric) multiplicity of accounts by missionaries, travelers, officials, military officers, captains, naturalists, scholars, children, and even a dog. The Southeast Asia Visions collection includes a selection of historically rich primary accounts which range chronologically from the 1550s to the 1920s. These travelogues, letters, official accounts, journals, autobiographies, guidebooks, and photo albums cover Southeast Asia in the main but also include East Asia, South Asia, Africa, South America and other locales. All sources are in English or French and with a few exceptions are written by European and American men and women.</p>
	</div>
</div>