<div class="row">
	<div class="sidebar">
		<%= render :partial => 'collection_nav' %>
	</div>
	<div class="main-text">
		<div class="gutter">
				<h3>Collection description</h3>
<div class="img-right">
<img src="img/donovon.gif" class="img-left" alt="Photograph of General William J. Donovan">
					<p class="caption">General William J. Donovan</p>
				</div>
<ul>
	<li><a href="legacy.php">Legacy</a></li>
	<li><a href="highlights.php">Collection Highlights</a></li>
	<li><a href="analysis.php">Analysis of Hitler's Personality</a></li>
	<li><a href="partners.php">Our Partners</a></li>
	<li><a href="bibliography.php">Bibliography</a></li>
	<li><a href="gratitude.php">Words of Gratitude</a></li>
</ul>
 <p>The Donovan Nuremberg Trials collection consists of nearly 150 bound volumes of Nuremberg trial transcripts and documents from the personal archives of General William J. Donovan (1883-1959). The Donovan papers contain both original statements from the defendants in German and typed translations in English prepared by the Allies. Some of the many remarkable documents among the Donovan Papers include:
</p><p></p><ul>
<li>Memoranda discussing how the military tribunal should be structured;</li>
<li>Working notes associated with the interrogation of Goehring;</li>
<li>Drafts of trial briefs against various defendants;</li>
<li>Nazi organizational charts;</li>
<li>Evidentiary analyses prepared by the Office of Strategic Services (OSS) and other agencies;</li>
<li>Analysis of the Personality of Adolph Hitler, a report by pioneering Harvard psychologist Dr. Murray, done for the Office of Strategic Services during the war. The Donovan collection copy is one of a few remaining copies of the report and the only one available to the public online.</li>
</ul>
<p></p><p>
The documents assume various formats, ranging from mimeographs, photostats, and carbon copies to photographs, maps, typescripts, and original manuscripts. While many of the documents are copies that can be found elsewhere, there are a significant number that are unique to Cornell's holdings and that represent an important part of the history of the Nuremberg process. See The Legacy of Nuremberg: Sustaining Human Rights (Daniel Smith's article on the Korn family donation of the Donovan Papers, Cornell Law Forum, March 1999) for further information.</p>
<p>
The collection also includes Donovan's personal set of the 42-volume official text in English of the Nuremberg trials, published by the International Military Tribunal in Nuremberg by the secretariat of the tribunal. Additionally, the staff of the U.S. chief of counsel, Supreme Court justice Robert H. Jackson, screened over 100,000 captured documents, and around 4,000 were translated and used as evidence. Some of these documents bear Donovan's personal annotations and many are marked "Top Secret." The material includes transcripts in German and English as well as background memoranda and evidentiary analysis of the defendants.</p>
<p>
"The collection brings together two areas of activity that are normally studied and widely thought about as quite different, even incompatible: U.S. intelligence agencies and war crimes trials," said University of Lancashire, England, law professor Michael Salter. He has studied the documents housed at Cornell and found that the wealth of information provides glimpses not just of evidence related to the 1945-46 prosecutions, but also supplementary, behind-the-scenes documentation that is not widely available.</p>

<h3>History of the Collection</h3>

<p>The Nuremberg tribunals were established at the conclusion of World War II to mete out justice to the principal perpetrators of the Holocaust. The International Military Tribunal addressed four counts: (1) the common plan or conspiracy, (2) crimes against peace, (3) war crimes (including genocide), and (4) crimes against humanity.</p>
<p>
Donovan played an important part in the International Military Tribunal proceedings in his role as special assistant to the U.S. chief of counsel, Supreme Court justice Robert H. Jackson. A graduate of the Columbia Law School, Donovan earned the Congressional Medal of Honor during World War I. Most importantly, however, he was the founding director of the Office of Strategic Services - the precursor of the Central Intelligence Agency - and offered valuable intelligence to Jackson as the Allies gathered evidence to construct their case against the German war criminals.
</p><p>
When Donovan left Germany, he took the documents, had them bound in blue leather, and installed them in his Manhattan law office, later called Donovan, Leisure, Newton &amp; Irvine. The collection remained there long after Donovan died in 1959. When the firm closed in 1998, its partners sought a new home for the volumes.
</p><p>
One young associate, Jonathan Rauchway (Cornell 1993), and former summer associate of Henry Korn (B.A. 1968), informed Korn about the availability of Donovan's papers. Henry Korn has been a longstanding friend of Cornell Law School, establishing the Henry Korn Lecture Series in Art, Ethics, and Commerce in the Contemporary Practice of Law, through a gift from the Nathaniel Lapkin Foundation, a client of Henry Korn.
</p><p>
Thus, Henry Korn and his wife, Ellen Schaum Korn (B.S. 1968), acquired the Donovan collection and generously donated it to the Cornell Law Library, enhancing its considerable international human rights holdings.
</p><p>
For more information and questions, please use the <b>"Contact"</b> link in the left-hand navigation bar.</p>

				<p class="top-link"><a href="#top">Top</a></p>
				</div>
	</div>
</div>