<div class="row">
	<div class="sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="main-text">
		<h2>Contact</h2>
		<p>We welcome your questions and comments. Please contact us at:</p>

		<p><strong><a href="http://asia.library.cornell.edu/ac/Echols/">The John M. Echols Collection on Southeast Asia</a></strong><br>
			Kroch Library<br>
			Cornell University<br>
			Ithaca, NY 14853<br>
			Phone: 607-255-4189<br>
			Fax: 607-255-8438<br>
			Email: <a href="mailto:jwp42@cornell.edu?subject=Southeast Asia Visions Hydra site">jwp42@cornell.edu</a>
		</p>
	</div>
</div>