<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Credits</h2>
		<p>Many people at Cornell University were involved in making this project a success.</p>
		<h3>Hydra development (2014)</h3>
		<ul>
			<li>John Cline, Programmer</li>
			<li>Jenn Colt, UX Designer/Developer</li>
			<li>Gregory Green, Curator, Echols Collection, Kroch Asia Library</li>
			<li>George Kozak, Digital Library Specialist</li>
			<li>Danielle Mericle, Project Manager</li>
			<li>Jeff Petersen, Southeast Asia Librarian</li>
			<li>Adam Smith, Coordinator of Web Programming</li>
			<li>Melissa Kuo Wallace, UX Designer/Developer</li>
		</ul>
		<h3>Original project / DLXS implementation (2006)</h3>
		<ul>
			<li>David Block, Director of World Area Collections, and PI (August 2003 - )</li>
			<li>Division of Library Information Technologies: Mira Basara, Rhea Garen, Peter Hoyt, Judith Johnson, David Jones, George Kozak, Danielle Mericle, Bronwyn Mohlke, Marcy Rosenkrantz, and Enrico Silterra</li>
			<li>The Echols Collection: Katie Williams and Amadee Meyer</li>
			<li>Ritsu Katsumata, Graphic Designer</li>
			<li>Beth Katzoff, Website and Evaluation Coordinator (January 2005 - May 2005)</li>
			<li>Melissa Kuo, Web Designer</li>
			<li>Library Metadata Services: Marty Kurth, Nancy Holcomb</li>
			<li>Tamara Loos, Associate Professor, History and Southeast Asian Studies. Professor Loos assisted with the grant proposal and provided insight and help during the project. In addition she authored the texts in the Collections section of the website.</li>
			<li>Allen Riedy, former Curator of the Echols Collection, served as the PI until August 2003</li>
			<li>Kari Smith, Digital Library Project Archivist, Project Manager</li>
			<li>Jeffrey Petersen</strong>, Echols Assistant Librarian</li>
		</ul>
		<p>For more information on the images used in this web site, please visit the <a href="/about/images/">Image Credits</a> page.</p>		
	</div>
</div>