<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Credits</h2>
		<p>Many people at Cornell University were involved in making this project a success.</p>
		<p><strong>David Block</strong>, Director of World Area Collections, and PI (August 2003 - ).</p>
		<p><strong>Division of Library Information Technologies</strong>: Mira Basara, Rhea Garen, Peter Hoyt, Judith Johnson, David Jones, George Kozak, Danielle Mericle, Bronwyn Mohlke, Marcy Rosenkrantz, and Enrico Silterra.</p>
		<p><strong>The Echols Collection</strong>: Katie Williams and Amadee Meyer.</p>
		<p><strong>Ritsu Katsumata</strong>, Graphic Designer, designed and implemented the inital SE Asia Visions Web site.</p>
		<p><strong>Beth Katzoff</strong>, Web Site and Evaluation Coordinator (January 2005 - May 2005.)</p>
		<p><strong>Melissa Kuo</strong>, Web Designer of this current site</p>
		<p><strong>Library Metadata Services</strong>: Marty Kurth, Nancy Holcomb.</p>
		<p><strong>Tamara Loos</strong>, Associate Professor, History and Southeast Asian Studies. Professor Loos assisted with the grant proposal and provided insight and help during the project. In addition she authored the texts in the Collections section of the project Website.</p>
		<p><strong>Allen Riedy</strong>, former Curator of the Echols Collection, served as the PI until August 2003.</p>
		<p><strong>Kari Smith</strong>, Digital Library Project Archivist, was the overall Project Manager.</p>
		<p><strong>Jeffrey Petersen</strong>, Echols Assistant Librarian, monitors e-mails for the site.</p>
		<p>For more information on the images used in this web site, please visit the <a href="/about/images/">Image Credits</a> page.</p>
	</div>
</div>