<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Delivery &amp; Access</h2>
		<p><strong>NOTE: NEED TO UPDATE THIS TEXT OR REMOVE THIS PAGE</strong></p>
		<p> The Southeast Asia Visions Collection is currently being made available using the University of Michigan Digital Library eXtension Service (DLXS). DLXS is an Open-Source solution that provides the foundation and the framework for educational and non-profit institutions to fully develop their digital library collections. DLXS has a comprehensive suite of tools, including a powerful SGML/XML-aware search engine and an array of class-based middleware:</p>
		<ul>
			<li>Encoded text collections ("Text Class")</li>
			<li>Digital image collections ("Image Class")</li>
			<li>Bibliographic data ("Bib Class")</li>
			<li>EAD2002-encoded finding aids ("Findaid Class")</li>
		</ul>
	    <p>For more information about DLXS go to the DLXS Home site at <a href="http://www.digital.org/">http://www.digital.org/</a>.</p>
		<h3>Cataloging and Metadata</h3>
		<p>Descriptive metadata for the project will be derived from existing MARC records or created and entered by project staff (for illustrations and maps) and will be encoded using the TEI Lite standard.</p>
		<p>The project is designed to provide individual access to 10,000 illustrations and maps. Descriptive metadata for these images will be kept as simple as possible while still meeting the anticipated needs of the users of the digitized collection by emphasizing the importance of retrieving illustrations and maps associated with specific locales. Data elements will include caption, geographic name, and personal name (when available for portraits).</p>
	</div>
</div>