<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Digitization</h2>
		<div class="well">
			<ul>
		        <li><a href="#conversion" title="Conversion to Digital Format">Conversion to Digital Format</a></li>
		        <li><a href="#scanning" title="Scanning">Scanning</a></li>
		        <li><a href="#qc" title="Quality Control and Document Structuring">Quality Control and Document Structuring</a></li>
		        <li><a href="#postscanning" title="Post-Scanning Processing">Post-Scanning Processing</a></li>
		    </ul>
		</div>
	  	<h3><a name="conversion"></a>Conversion to Digital Format</h3>
	  	<p>The Cornell University Library has since 1990, been a leader in conducting pioneering research into the use of digital imaging to retrospectively convert library and archival material. Through a series of projects, it has investigated image quality requirements and has developed an approach, called digital benchmarking, as a digital imaging management tool. The focus of research was extended in 1996 to include the preservation of digital materials. In addition they have served an educational role through workshops, publications, and consultancies.</p>
	  	<p class="text-right"><small><a href="#top">Top</a></small></p>
	  	<h3><a name="scanning"></a>Scanning</h3>
		<p><a href="http://dcaps.library.cornell.edu/">Digital Consulting and Production Services (DCAPS)</a> is using the Zeutschel 10000TT overhead book scanner and the Xerox DocuImage 620S scanner. Text and line drawings are scanned in 1-bit bitonal; figures with fine hatching, photographs, and illustrations are scanned in 1-bit photo mode or 8-bit grayscale (whichever looks better); and any color images (maps, etc.) are scanned in 24-bit RGB color. Each volume will be collated page-by-page for bibliographic integrity and all resolution requirements will be noted. In addition, all color illustrations and foldouts will be marked for high resolution scanning.</p>
	    <p class="text-right"><small><a href="#top">Top</a></small></p>
	  	<h3><a name="qc"></a>Quality Control and Document Structuring</h3>
	    <p>Quality control and document structuring will be done by the DCAPS. Experience has proven that these two processes can be combined with significant cost savings. Staff will inspect 100% of the images to evaluate quality. Images will be inspected to ensure completeness, legibility, and placement of the images. At the same time, pagination structure (page-to-image maps) will be created and special page features noted, such as front matter, title page, table of contents, illustrations,  etc. This data will be recorded and temporarily stored in a Microsoft Excel database using processes developed at Cornell for other digital imaging projects.</p>
	    <p class="text-right"><small><a href="#top">Top</a></small></p>
	    <h3><a name="postscanning"></a>Post-Scanning Processing</h3>
	    <p>In the post-scanning stage, metadata about the digital objects of this collection will be assembled using TEI-lite header, modified to include specific item-level descriptive metadata for the images.</p>
	    <p class="text-right"><small><a href="#top">Top</a></small></p>
	</div>
</div>