<div class="row">
	<div class="sidebar">
	  	<%= render :partial => 'collection_nav' %>
	</div>
	<div class="main-text">
	  	<h2>Geographic Context</h2>
	  	<p>The concept of Southeast Asia as a region began during World War II. It is a strategic definition that is still used by the region's leaders in the <a href="http://www.aseansec.org/" title="ASEAN web site">Association of Southeast Asian Nations (ASEAN)</a>. This strategic area was conceived as extending from eastern India and southwest China to the northern shore of Australia, then along the eastern face of the Philippines. Included in the region are the nations of Brunei Darussalam, Cambodia, East Timor, Indonesia,  Laos, Malaysia, Myanmar, Philippines, Singapore, Thailand, and Vietnam.</p>	
		<p><a href="/about/map/"><img src="/assets/cornell/worldmap.gif" alt="Map of the world"></a></p>
		<h3>Southeast Asia</h3>    
	    <div class="row map">
	      <div class="span4">
	        <img src="/assets/cornell/illustrated_map_small.gif" alt="Detailed map of Southeast Asia" class="img-polaroid">
	      </div>
	      <div class="span5">
	        <ol>
	          <li>Burma</li> 
	          <li>Thailand</li>    
	          <li>Laos</li>      
	          <li>Vietnam</li>     
	          <li>Cambodia</li>      
	          <li>Philippines</li>     
	          <li>Malaysia</li>    
	          <li>Singapore</li>   
	          <li>Brunei</li>    
	          <li>Indonesia</li>    
	          <li>East Timor</li>   
	          <li>Indochina (shaded region)</li>
	        </ol>
	      </div>
	    </div>
	    <p>For more information on maps of Southeast Asia, contact the <a href="http://olinuris.library.cornell.edu/content/maps-geospatial-information">Maps and Geospatial Information Division</a> at Cornell Library.</p>
	    <p><small>NOTE: This is a modern political map of Southeast Asia (with the exception of Indochina, which is a historical political unit previously occupied by the French). Please be aware that these political boundaries have shifted over time.</small></p>
	</div>
</div>