<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Image credits</h2>
		<p>Below is a list of the images used in this web site.</p>

		<figure>
			<img src="/assets/cornell/03_00215.gif" class="img-polaroid" alt=" " />
			<figcaption>Volcano of Bromo, Eastern Java, in eruption (Powell, p. 170)</figcaption>
		</figure>
		
		<figure>
			<img src="/assets/cornell/03_00323.gif" class="img-polaroid" alt=" " />
			<figcaption>Parade of riders on elephants (Powell, p. 266)</figcaption>
		</figure>
		
		<figure>
			<img src="/assets/cornell/08_00008.jpg" class="img-polaroid" alt=" " />
			<figcaption>The Great Staircase, Angkor-Vat (Loti, plate 3)</figcaption>
		</figure>
		
		<figure>
			<img src="/assets/cornell/40_00284.jpg" class="img-polaroid" alt=" " />
			<figcaption>(A Theweda or Angel) in color (Bock, p. 245)</figcaption>
		</figure>
		
		<figure>
			<img src="/assets/cornell/53_00206.jpg" class="img-polaroid" alt=" " />
			<figcaption>The Malayan Woman of the Country (Whitney)</figcaption>
		</figure>
	</div>
</div>