<div class="row">
  <div class="span3 sidebar">
    <%= render :partial => 'collection_nav' %>
  </div>
  <div class="span9">
    <h2>Southeast Asia</h2>    
    <div class="row map">
      <div class="span4 text-right">
        <img src="/assets/cornell/illustrated_map_small.gif" alt="Detailed map of Southeast Asia" class="img-polaroid">
      </div>
      <div class="span5">
        <ol>
          <li>Burma</li> 
          <li>Thailand</li>    
          <li>Laos</li>      
          <li>Vietnam</li>     
          <li>Cambodia</li>      
          <li>Philippines</li>     
          <li>Malaysia</li>    
          <li>Singapore</li>   
          <li>Brunei</li>    
          <li>Indonesia</li>    
          <li>East Timor</li>   
          <li>Indochina (shaded region)</li>
        </ol>
      </div>
    </div>
    <p>For more information on maps of Southeast Asia, contact the <a href="http://olinuris.library.cornell.edu/content/maps-geospatial-information">Maps and Geospatial Information Division</a> at Cornell Library.</p>
    <p><small>NOTE: This is a modern political map of Southeast Asia (with the exception of Indochina, which is a historical political unit previously occupied by the French). Please be aware that these political boundaries have shifted over time.</small></p>
  </div>
</div>