<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Print Copies</h2>
		<p><strong>NOTE: This content needs to be updated if we add this functionality to the new app.</strong></p>
		<p>Many titles are available as print-on-demand paperbacks and may be ordered directly from <a href="http://www.amazon.com/">Amazon.com</a>.</p>
	    <p>If a title is available in print from Amazon.com, it is marked as "available in print" on the <a href="#">Browse</a> pages:</p>
		<ul>
			<li>Alder, William Fisher
				<blockquote><a href="#">The isle of vanishing men : a narrative of adventure in cannibal-land</a> (1922) <a href="http://www.amazon.com/dp/1429743433?tag=corneunivelib-20">available in print</a></blockquote>
			</li>
		</ul>
		<p>Visit the <a href="http://bookstore.library.cornell.edu">Cornell University Library Bookstore</a> for additional information and frequently asked questions.</p>
	</div>
</div>