<div class="row">
	<div class="sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="main-text">
		<h2>About the project</h2>
		<p>Please click on a link to the left to get information about an aspect of this project.</p>
	</div>
</div>