<div class="row">
	<div class="sidebar">
		<%= render :partial => 'collection_nav' %>
	</div>
	<div class="main-text">
		<h2>Significance of These Accounts</h2>		
		<img src="/assets/cornell/03_00323.gif" alt=" " class="pull-right img-polaroid">	
		<p>The common thread uniting these accounts is they all contain firsthand observations of life in the region. Over 90% of the selected monographs contain illustrations, of which 20% are in color. Almost one-half of the monographs contain plates and a third contain maps. The graphic materials are an extraordinary resource both for the information contained in them and the remarkable skill with which they were drawn.</p>
		<p>As a collection, the aggregation of texts is unique. With the assistance of Cornell University faculty, we have identifiied texts covering the region as a whole as well as texts on each of the countries of Southeast Asia. Selection criteria included rarity as determined by RLIN and OCLC searches; accessibility to a wide audience, to include language (mostly English) and readability; presence of illustrative matter; and potential for scholarly research. This body of material represents a significant portion of first-person English-language output on the region, and will give scholars and students an opportunity to examine a large important body of material previously unavailable except to those willing to exert considerable effort. We will use optical character recognition (OCR) technology to enable searching of the texts. Selective additional indexing will enable searching by time period, geographic site, and nationalities and occupations of individuals. We will enhance access to images by selectively providing additional descriptive text beyond the captions in the texts.</p>
	</div>
</div>