<div class="row">
	<div class="sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="main-text">
		<h2>Sponsor (IMLS)</h2>	
	    <div class="pull-right"><a href="http://www.imls.gov/"><img src="/assets/cornell/IMLS_LOGO_CRAsymbol3298.jpg" alt="IMLS logo"></a></div>
		<h3>NLG Program Statement</h3>
	    <p>The National Leadership Grant Program's Preservation or Digitization of Library Materials category enables libraries to preserve and digitize valuable resources, often in innovative ways. The grant is awarded to model projects that have far-reaching impact throughout the library community. These prestigious grants are awarded by the <a href="http://www.imls.gov/">Institute of Museum and Library Services</a>, an independent federal agency that fosters leadership, innovation, and a lifetime of learning by supporting the nation's 15,000 museums and 122,000 libraries.</p>
	</div>
</div>