<div class="row">
	<div class="span3 sidebar">
		<%= render :partial => 'project_nav' %>
	</div>
	<div class="span9">
		<h2>Survey</h2>	
	    <p>We are interested in your opinions about access to the materials, the use of the web site for classroom instruction, and the potential for scholarly research. We therefore seek your input in these areas: Searching, Browsing, Content, and Interface design/functionality. You may feel more prepared to comment on one area over the other, but we are hoping that your evaluation can encompass all the areas. We ask you to complete this evaluation as a potential user of this digital collection and thank you in advance!</p>
	    <p>This survey should take approximately 10 minutes.</p>
	    <p><strong>NOTE: Rebuild survey in Qualtrix or remove survey?</strong></p>
	</div>
</div>