<div class="util-links-other">
  <%#= current_or_guest_user.inspect %>
  <% if current_or_guest_user %>
    <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
  <% end %>
  <% if has_user_authentication_provider? and current_user %>
    /
    <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
  <% end %>
  /
  <%= link_to t('blacklight.header_links.search_history'), '/history' %>
</div>
